<a href="https://colab.research.google.com/github/arorakr/machine-learning-research/blob/master/oppepracprobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
matrix = {}
rows = 4
cols = 4
i = 0
while i < rows:
  matrix[i] = {}
  j = 0
  while j < cols:
    matrix[i][j] = 0
    j += 1
  i += 1

print(matrix)

{0: {0: 0, 1: 0, 2: 0, 3: 0}, 1: {0: 0, 1: 0, 2: 0, 3: 0}, 2: {0: 0, 1: 0, 2: 0, 3: 0}, 3: {0: 0, 1: 0, 2: 0, 3: 0}}

# Section 1

In [ ]:
#@title   Problem 1 - Data Types and Expressions [6 x 5 = 30 Marks]

In [ ]:
# is_equal(second_largest([1, 2, 3, 4, 5]), 4)
# is_equal(second_largest([3, 2, 1]), 2)

In [ ]:
def second_largest(lst: list) -> int:
    '''
    Given a list of integers, return the second largest number in the list.
    Consider that list contains at least two integers.
    Arguments:
    lst: list - the input list of integers
    Return:
    int - the second largest number in the list
    Example:
    >>> second_largest([1, 2, 3, 4, 5])
    4
    '''
    return sorted(lst)[-2]
second_largest([3, 2, 1])

2

In [ ]:

is_equal(arithmetic_operations((1, 2)), (3, -1, 2, 0))
is_equal(arithmetic_operations((10, 5)), (15, 5, 50, 2))

In [ ]:
arithmetic_operations((1, 2))

In [ ]:
arithmetic_operations((10, 5))

(15, 5, 50, 2)

In [ ]:
def arithmetic_operations(t: tuple) -> tuple:
    '''
    Given a tuple of two integers (a, b), return a tuple containing the
    sum, difference, product, and quotient (integer division) of the two numbers.
    Arguments:
    t: tuple - a tuple of two integers (a, b)
    Return:
    tuple - a tuple containing the sum, difference, product, and quotient
    Example:
    >>> arithmetic_operations((1, 2))
    (3, -1, 2, 0)
    '''
    return (t[0]+t[1],t[0]-t[1],t[0]*t[1],t[0]//t[1])

In [ ]:
def square_and_clip(x: int, threshold:int) -> int:
    '''
    Square the given integer and clip the result to threshold
    (clipping means if the value x goes greater than the threshold, keep it at threshold).
    Arguments:
    x: int - the input number
    threshold: int - the threshold value
    Return:
    int - squared and clipped result
    '''
    # if x**2 > threshold:
    #     return  threshold
    # else:
    #     return x**2
    return min([x**2,threshold])

In [ ]:
def not_present_in_both(lst1: list, lst2: list) -> list:
    '''
    Given two lists, return a list containing the items
    that are present in either list 1 or list 2 but not in both.

    Arguments:
    lst1: list - the first list
    lst2: list - the second list

    Return:
    set - a set containing the items present in either list 1 or list 2 but not in both

    Example:
    >>> symmetric_difference([1, 2, 3], [3, 4, 5])
    {1, 2, 4, 5}
    '''
    comms = [elem for elem in lst1 if elem in lst2]

    # res = []
    # for elem in lst1:
    #     if elem not in comms and elem in lst2:
    #         res.append(elem)
    # for elem in lst2:
    #     if elem not in comms and elem in lst1:
    #         res.append(elem)
    sym_diff = set()
    alls = lst1 + lst2
    for elem in alls:
        if elem not in comms and (elem in lst1 or elem in lst2):
            sym_diff.add(elem)
    return sym_diff

In [ ]:
is_equal(not_present_in_both([1, 2, 3], [3, 4, 5]), {1, 2, 4, 5})
is_equal(not_present_in_both(['apple', 'ball', 'cat'], ['ball', 'cat', 'dog']), {'apple', 'dog'})

In [ ]:
not_present_in_both(['apple', 'ball', 'cat'], ['ball', 'cat', 'dog'])

['ball', 'cat']

{'apple', 'dog'}

In [ ]:
not_present_in_both([1, 2, 3], [3, 4, 5])

[3]

{1, 2, 4, 5}

In [ ]:
def modify_string_1(s: str) -> str:
    '''
    Given a string, Seperate the characters present in odd and even indices
    and return the merged string with even indices first and odd indices second in reverse order.

    Arguments:
    s: str - the input string

    Return:
    str - modified string

    Example:
    >>> modify_string_1('abcde')
    'acedb'
    >>> modify_string_1('python')
    'ptonhy'
    '''
    return s[::2] + s[1::2][::-1]

In [ ]:
modify_string_1('python')

'ptonhy'

In [ ]:
modify_string_1('abcde')

'acedb'

In [ ]:
print('abcde'[::2])

ace

In [ ]:

def create_count_dict(lst1: list, lst2: list) -> dict:
    '''
    Given two lists, lst1 and lst2, return a dictionary where each item
    of lst1 is the key and the corresponding value is the count of that
    item in lst2.

    Arguments:
    lst1: list - the first list of items to be used as keys
    lst2: list - the second list of items from which to count occurrences

    Return:
    dict - a dictionary with items from lst1 as keys and their counts in lst2 as values

    Example:
    >>> create_count_dict(['a', 'b', 'c'], ['a', 'b', 'a', 'a', 'c', 'c', 'c'])
    {'a': 3, 'b': 1, 'c': 3}
    '''
    res = {elem:lst2.count(elem) for elem in lst1}
    return res

In [ ]:

create_count_dict(['a', 'b', 'c'], ['a', 'b', 'a', 'a', 'c', 'c', 'c'])
    {'a': 3, 'b': 1, 'c': 3}

In [ ]:

print(create_count_dict(['a', 'b', 'c'], ['a', 'b', 'a', 'a', 'c', 'c', 'c']))

{'a': 3, 'b': 1, 'c': 3}

In [ ]:
def average_of_numbers(lst: list) -> float:
    '''
    Given a list containing integers, floats, and strings, return the average
    of the integers and floats, rounded to two decimal points. If neither
    integers nor floats are present, return -1.
    Arguments:
    lst: list - a list containing integers, floats, and strings
    Return:
    float - the average of the integers and floats rounded to two decimal points,
            or -1 if no integers or floats are present
    Example:
    >>> average_of_numbers([1, 2.5, 'a', 3, 'b'])
    2.17
    >>> average_of_numbers(['a', 'b', 'c'])
    -1
    '''
    nums = []
    for elem in lst:
        if type(elem) == int or type(elem) == float:
            nums.append(elem)
    if len(nums) == 0:
        return -1
    elif len(nums) == 1:
        return nums[0]
    else:
        return round(sum(nums)/len(nums),2)

average_of_numbers([1, 2.5, 'a', 3, 'b'])

2.17

In [ ]:

def most_frequent_element(lst: list) -> int:
    '''
    Arguments:
    lst: list - a list of integers

    Return:
    int - the integer that occurs most frequently, or the largest one
          if there are multiple with the same frequency
    Example:
    >>> most_frequent_element([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
    4
    '''
    elemcounts = {}
    for elem in lst:
        if elem not in elemcounts:
            elemcounts[elem] = 1
        else:
            elemcounts[elem] += 1
    return max(lst,key = lambda elem: (elemcounts[elem],elem))

In [ ]:
most_frequent_element([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])

4

In [ ]:
most_frequent_element([15, 15, 22, 41, 55])

15

In [ ]:
def lowercase_first_half_and_uppercase_second_half(s: str) -> str:
    '''
    Given an even-length string of any case, create a string with the first half
    in lowercase and the second half in uppercase.

    Arguments:
    s: str - the input string

    Return:
    str - the modified string
    '''
    first = s[:len(s)//2]
    second = s[len(s)//2:]
    return first.lower() + second.upper()

In [ ]:

def add_the_middle_element_to_both_ends(l: list) -> None:
    '''
    Given an odd-length list, insert the middle element to both ends of the list.
    Modify the input list and do not return a new list.

    Arguments:
    l: list - the input list

    Return:
    None - the input list is modified inside the function.
    '''
    # middle = []
    # for i in range(len(l)):
    #     if i == ((len(l)+1)//2)-1:
    #         middle = l[i]
    # res = None
    # res = [middle] + l + [middle]
    # l = res
    l.insert(len(l),l[((len(l)+1)//2)-1])
    l.insert(0,l[((len(l)+1)//2)-1])

In [ ]:
def number_of_unique_common_digits(n1: int, n2: int) -> int:
    '''
    Given two integers, return the number of unique digits that are common in both numbers.
    Eg, 287498,295424 - 2, 4 and 9 are common to both nums so answer is 3
    Arguments:
    n1: int - the first number
    n2: int - the second number

    Return:
    int - the number of unique common digits.
    '''
    return len(set(list(str(n1))).intersection(set(list(str(n2)))))

In [ ]:

def manhattan_distance_via_b(a: tuple, b: tuple, c: tuple) -> int:
    '''
    Given three points a, b, and c on the Cartesian plane,
    calculate the Manhattan distance to go from point a to point c via point b.

    Manhattan distance is the sum of the absolute differences of their Cartesian coordinates.

    Args:
        a (tuple): Coordinates of point a as (x1, y1).
        b (tuple): Coordinates of point b as (x2, y2).
        c (tuple): Coordinates of point c as (x3, y3).

    Returns:
        int: The Manhattan distance from point a to point c via point b.
    '''
    distanceab = abs(a[0]-b[0]) + abs(a[1]-b[1])
    distancebc = abs(b[0]-c[0]) + abs(b[1]-c[1])

    return distanceab + distancebc

In [ ]:

def create_indexed_dict(names: list) -> dict:
    '''
    Given a list of names, create a dictionary with the indices as keys and the names as values.

    Args:
        names (list): A list of names.

    Returns:
        dict: A dictionary with indices as keys and names as values.
    '''
    res = {}
    for i in range(len(names)):
        res[i]=names[i]


    return res

In [ ]:
def is_right_triangle_with_even_sides(a:int,b:int,c:int) -> bool:
    '''
    Given three side lengths in the increasing
    order of length as a, b, and c, where a<=b<=c,
    check if the given sides are the sides of a right
    triangle whose perpendicular sides are of even length.

    Hint: in a right triangle the square of hypotenuse is the sum of square of other two sides.

    Arguments:
    a: int - the first side length
    b: int - the second side length
    c: int - the hypotenuse length

    Return:
    bool - True if the sides form a right triangle and the perpendicular sides are even, else False
    '''
    is_right = a**2 + b**2 == c**2
    is_even = a%2 ==0 and b%2==0
    return is_even and is_right

In [ ]:
def is_odd_indices_alpha_and_even_indices_digits(string: str) -> bool:
    '''
    Given a string, check if all the odd indices are alphabets and the even indices are digits.

    Note: indices starts from 0.

    Arguments:
    string: str - the input string

    Return:
    bool - True if all odd indices are alphabets and even indices are digits, else False
    '''
    even_digit = string[::2]
    odd_digit = string[1::2]

    return even_digit.isdigit() and odd_digit.isalpha()

In [ ]:
def swap_even_and_odd_indices(l: list) -> None:
    '''
    Given a list of integers, swap the values at the even indices
    and the odd indices by modifying the same list.

    Arguments:
    l: list - the input list of integers

    Return:
    None - the input list is modified inside the function.
    '''
    l[::2],l[1::2] = l[1::2], l[::2]

In [ ]:
def unique_chars_present_in_first_not_in_second(s1: str, s2: str) -> set:
    '''
    Given two words as strings, find the unique
    chars that are present in the first word but not in
    the second word.

    Assume all characters in the input are in lowercase.

    The order of elements in the set doesn't matter while returning.

    Eg. water, watch -> {'e','r'}

    Arguments:
    s1: str - the first string
    s2: str - the second string

    Return:
    set - the unique characters present in the first string but not in the second string
    '''
    return set(s1)- set(s2)

In [ ]:
def repeat(t: tuple) -> tuple:
    '''
    Given a tuple of length two, say (a,b), create a tuple
    with a repeated b number of times and b repeated a number of times.

    E.g., repeat((2, 3)) ->  (2, 2, 2, 3, 3)

    Arguments:
    t: tuple - a tuple of two integers (a, b)

    Return:
    tuple - a new tuple with a repeated b times followed by b repeated a times
    '''
    left = []
    for i in range(t[1]):
        left.append(t[0])
    right = []
    for i in range(t[0]):
        right.append(t[1])

    return tuple(left+right)

In [ ]:
def num_squares(n: int) -> dict:
    '''
    Given an integer n, create a dictionary with the
    numbers from 1 to n (inclusive) as keys and their
    squares as values.

    Arguments:
    n: int - the input integer

    Return:
    dict - the dictionary with numbers from 1 to n as keys and their squares as values
    '''
    # res_dic = {}
    # for i in range(1,n+1):
    #     res_dic[i] = i**2

    # return res_dic
    res= dict(zip([i,i**2 for i in range(1,n+1))])
    return res

In [ ]:

def percentage_increase(original, new):
    '''Calculate the percentage increase from the original value to the new value.
    Args:
        original (float): The original value.
        new (float): The new value.
    Returns:
        float: The percentage increase.
    Examples:
    >>> percentage_increase(50, 75)
    50.0
    >>> percentage_increase(80, 100)
    25.0
    '''
    if original == 0:
        return None
    else:
        perc_inc = ((new - original)/original)*100
    return perc_inc

In [ ]:
def digit_product(n: int) -> int:
    '''Calculate the product of the digits of an integer.

    Args:
        n (int): The integer whose digits are to be multiplied.

    Returns:
        int: The product of the digits.

    Examples:
    >>> digit_product(123)
    6
    >>> digit_product(101)
    0
    '''
    if n < 10:
        return n
    return int(str(n)[-1])* digit_product(n//10)

In [ ]:
digit_product(1232122)

48

In [ ]:
def capitalize_first_and_last(sentence: str) -> str:
    '''Capitalize the first and last characters of each word of the sentence.
    Args:
        sentence (str): Input string sentence of space seperated words.
    Returns:
        str: The string with the first and last characters of each word capitalized.
    Examples:
    >>> capitalize_first_and_last("hello world")
    'HellO WorlD'
    >>> capitalize_first_and_last("python programming")
    'PythoN ProgramminG'
    '''
    res =  sentence.title()
    words = res.split()
    new_words = []
    for word in words:
      new_words.append(word[:-1] + word[-1].upper())
    return new_words
    # req = []
    # for word in words:
    #   req.append(word[:-1] + word[-1].upper())
    # return ' '.join(res)

In [ ]:
capitalize_first_and_last('hello world')

['HellO', 'WorlD']

In [ ]:
def kth_longest_word(words: list, k: int) -> str:
    '''Find the k-th longest word in a list of words where each word has a unique length.

    Args:
        words (list): The list of words.
        k (int): The position (1-based) of the longest word to find.

    Returns:
        str: The k-th longest word in the list.

    Examples:
    >>> kth_longest_word(['apple', 'banana', 'cherry', 'date'], 2)
    'apple'
    >>> kth_longest_word(['elephant', 'dog', 'cat', 'hippopotamus'], 1)
    'hippopotamus'
    >>> kth_longest_word(['a', 'abc', 'abcd', 'ab'], 3)
    'ab'
    '''
    longs = sorted(words,key = lambda word: len(word),reverse=True)
    return longs[k-1]

In [ ]:
kth_longest_word(['apple', 'banana', 'cherry', 'date'], 2)

'cherry'

In [ ]:
kth_longest_word(['elephant', 'dog', 'cat', 'hippopotamus'], 1)

'hippopotamus'

In [ ]:
kth_longest_word(['a', 'abc', 'abcd', 'ab'], 3)

'ab'

In [ ]:
def unflatten(t: tuple, m: int, n: int) -> tuple:
    '''Given a flat tuple of length m*n, convert it into a tuple of tuples
    with dimensions m x n.

    Args:
        t (tuple): Flat tuple of length m*n.
        m (int): Number of rows in resulting tuple of tuples.
        n (int): Number of columns in resulting tuple of tuples.

    Returns:
        tuple: A tuple of tuples with dimension m x n.

    Examples:
    >>> unflatten((1, 2, 3, 4, 5, 6), 2, 3)
    ((1, 2, 3), (4, 5, 6))
    >>> unflatten((1, 2, 3, 4), 2, 2)
    ((1, 2), (3, 4))
    '''
    res = []
    for i in range(m):
      res.append(t[i*n:i*n+n])
    return tuple(res)

In [ ]:
unflatten()

In [ ]:
unflatten((1, 2, 3, 4, 5, 6), 2, 3)

((1, 2, 3), (4, 5, 6))

In [ ]:
unflatten((1, 2, 3, 4), 2, 2)

((1, 2), (3, 4))

In [ ]:
def is_heterogram(sentence: str) -> bool:
    '''Check if a given sentence is a heterogram or not.

    A heterogram is a word, phrase, or sentence in which no letter of the alphabet occurs more than once.

    Ignore the multiple occurences of space.

    Args:
        s (str): The input sentence.

    Returns:
        bool: True if the sentence is heterogram, False otherwise.

    Examples:
    >>> is_heterogram('The big dwarf only jumps')
    True
    >>> is_heterogram('Blue bat')
    False
    >>> is_heterogram('Hello World')
    False
    '''


    return len(sentence.lower().replace(' ','')) == len(set(sentence.lower().replace(' ','')))
    # return len(sentence) == len(set(sentence.replace(' ','')))

In [ ]:
is_heterogram('The big dwarf only jumps')

True

In [ ]:
print(len('The big dwarf only jumps'.replace(' ','')))

20

In [ ]:
len(set('The big dwarf only jumps'.replace(' ','')))

20

In [ ]:
is_heterogram('Hello World')

False

In [ ]:
is_heterogram('Blue bat')

False

In [ ]:
def filter_keys_by_value(d: dict, threshold: int) -> None:
    '''Filter the dictionary keys where the value is greater than the given threshold.
    Modify the dictionary in place, do not return a new dictionary.

    Args:
        d (dict): The input dictionary.
        threshold (int): The threshold value.

    Returns:
        None

    Examples:
    >>> d = {'a': 1, 'b': 5, 'c': 3}
    >>> filter_keys_by_value(d, 3)
    >>> d
    {'b': 5}
    >>> d = {1: 10, 2: 20, 3: 5, 4: 30}
    >>> filter_keys_by_value(d, 15)
    >>> d
    {2: 20, 4: 30}
    '''
    for key in list(d.keys()):
      if d[key] <= threshold:
        del (d[key])
    return d

In [ ]:
d = {'a': 1, 'b': 5, 'c': 3}

print(filter_keys_by_value(d,4))

{'b': 5}

In [ ]:
def is_ten_digit_even(n):
    '''Returns True if the number is a 10 digit even number, False otherwise.
    Args:
        n (int): The given number.
    Returns:
        bool : result as True or False.
    >>> is_ten_digit_even(8769473839)
    False
    >>> is_ten_digit_even(9289479278)
    True
    '''
    return len(str((n))) == 10 and n % 2 == 0

In [ ]:
def find_indices_of_element(l, elem):
    '''Find all indices of an element in a list.
    Args:
        l (list): The input list.
        elem: The element to find.
    Returns:
        list: A list of indices where the element is found.
    Examples:
    >>> find_indices_of_element([1, 2, 3, 2, 4], 2)
    [1, 3]
    >>> find_indices_of_element(['a', 'b', 'a', 'c'], 'a')
    [0, 2]
    '''
    indices = []
    for i in range(len(l)):
        if l[i] == elem:
            indices.append(i)
    return indices

In [ ]:
def swap_adjacent_elements(t):
    '''Swap every pair of adjacent elements in the tuple.

    Args:
        t (tuple): A tuple of even length.

    Returns:
        tuple: A new tuple with adjacent elements swapped.

    Examples:
    >>> swap_adjacent_elements((1, 2, 3, 4, 5, 6))
    (2, 1, 4, 3, 6, 5)
    >>> swap_adjacent_elements(('a', 'b', 'c', 'd'))
    ('b', 'a', 'd', 'c')
    '''
    t = list(t)
    t[::2],t[1::2] = t[1::2],t[::2]

    return tuple(t)

In [ ]:
def common_chars(word1, word2):
    '''Find all the unique common characters present in the given words
    and return them as a string in ascending order.

    Arg:
        word1 (str) : Input string.
        word2 (str) : Input string.

    Returns:
        str: string of unique common charecters arranged in ascending order.

    >>> common_chars('apple', 'ball')
    'al'
    >>> common_chars('abcde', 'edfci')
    'cde'
    '''
    unichr = ''
    for char1 in word1:
        for char2 in word2:
            if char1 == char2 and char2 not in unichr:
                unichr = unichr + char1
    # if i in range(len(unichr)):
    #     if char in unichr[:i]:

    return str((unichr))

In [ ]:
def count_values_occurrences(d):
    '''Count the number of occurrences of each value in the dictionary.

    Args:
        d (dict): The input dictionary.

    Returns:
        dict: A dictionary where the keys are the values from the input dictionary,
        and the values are their occurrence counts.

    Examples:
    >>> count_values_occurrences({'a': 1, 'b': 2, 'c': 1})
    {1: 2, 2: 1}
    >>> count_values_occurrences({1: 'x', 2: 'y', 3: 'x'})
    {'x': 2, 'y': 1}
    '''
    val_count_dict = {}
    vals = list(d.values())
    for value in vals:
        val_count_dict[value] = vals.count(value)

    return val_count_dict

In [ ]:
def abs_diff_between_sum_and_sum_of_squares(a:int, b:int) -> int:
    '''
    Given two integers, find the absolute difference between
    their sum and the sum of their squares.
    Eg.
    a, b = 2,3
    sum is 5
    sum of squares is 13
    absolute difference is 8

    Args:
        a - int : The first integer.
        b - int : The second integer.

    Returns:
        int: absolute difference between the sum and the sum of squares
    '''
    return abs((a+b) - (a**2+b**2))

In [ ]:
def subsets_recursive(lst, index=0, curr_subset=None):
    if curr_subset is None:
        curr_subset = []
    if index == len(lst):
        print(curr_subset)  # Print or store the subset
        return
    # Include current element
    subsets_recursive(lst, index + 1, curr_subset + [lst[index]])
    # Exclude current element
    subsets_recursive(lst, index + 1, curr_subset)
# Example usage
subsets_recursive([1, 2, 3])

In [ ]:
def swap_except_middle_three(s: str) -> str:
    '''
    Given an odd-length string,
    swap the parts before and after the middle three characters,
    while keeping the middle three characters in place.

    Assume the string has at least 5 characters.

    Examples:
        "firstabclast1" -> "last1abcfirst"
        "abcdefghi" -> "ghidefabc"

    Args:
        s (str): The input string of odd length.

    Returns:
        str: The modified string with the parts swapped.
    '''

    mid = len(example)//2
    return example[mid+2:] + example[mid-1:mid+2] + example[:mid-1]

    # return s[(len(s)//2)+2:]+s[(len(s)//2)-1]+s[len(s)//2]+s[(len(s)//2)+1]+s[:(len(s)//2)-1]

In [ ]:
swap_except_middle_three("firstabclast1")

'last1abcfirst'

In [ ]:
example = "firstabclast1"

In [ ]:
mid = len(example)//2

In [ ]:
example[mid-1:mid+2]

'abc'

In [ ]:
example[:mid-1]

'first'

In [ ]:
example[mid+2:]

'last1'

In [ ]:
print(example[mid+2:] + example[mid-1:mid+2] + example[:mid-1])

last1abcfirst

In [ ]:
def interleave_lists(list1, list2, list3):
    '''
    Given three lists of same length,
    interleave them together and return the interleaved list.

    Example:
        list1 = [1, 2, 3]
        list2 = ['a', 'b', 'c']
        list3 = [(1,1),(2,2),(3,3)]
        output = [1, 'a', (1,1), 2, 'b', (2,2), 3, 'c', (3,3)]

    Args:
        list1 (list): The first list.
        list2 (list): The second list.
        list3 (list): The third list.

    Returns:
        list: A list containing interleaved elements from all three lists.
    '''
    # l = []
    # for i in range(len(list1)):
    #   l.append(list1[i]);l.append(list2[i]);l.append(list3[i])
    # return l

    return [item for sublist in zip(list1, list2, list3) for item in sublist]

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [(1,1),(2,2),(3,3)]
interleave_lists(list1, list2, list3)

[1, 'a', (1, 1), 2, 'b', (2, 2), 3, 'c', (3, 3)]

In [ ]:
def has_more_than_5_unique_digits(num: int) -> bool:
    '''
    Determine if a given integer has more than 5 unique digits.

    Args:
        num (int): The input integer.

    Returns:
        bool: True if the integer has more than 5 unique digits, otherwise False.
    '''
    num = str(num)
    numlist = [digit for digit in num]
    return len(set(numlist))>5

In [ ]:
def final_position(pos: tuple, vel: tuple, time:int) -> tuple:
    '''
    Given an initial position of a point moving in a cartesian plane with a constant velocity,
    find the the final position of the point after a given time.

    Hint: final position = intial position + velocity * time

    Args:
        pos - tuple[int]: A tuple representing the position vector (x1, y1).
        vel - tuple[int]: A tuple representing the velocity vector (vx, vy).
        time - int: time of movement.

    Returns:
        tuple[int]: A tuple representing the displacement (dx, dy).
    '''
    x=pos[0]+vel[0]*time
    y=pos[1]+vel[1]*time
    return (x,y)

In [ ]:
def remove_keys_not_in_list(d: dict, l: list) -> None:
    '''
    Remove keys from a dictionary that are not present in a given list.
    The function modifies the dictionary in place and does not return anything.

    Note:
        Modifying a dict while iterating over it will give an error in python.
        So, make a copy of the dict keys and then iterate over it.

    Args:
        d (dict): The dictionary to modify.
        l (list): The list of keys to keep in the dictionary.

    Returns:
        None
    '''
    for key in list(d.keys()):
        if key not in l:
            del d[key]

In [ ]:
d = {1:'a',2:'b',3:'c',4:'d',5:'e'}
l = [7,6,5,4,3]
remove_keys_not_in_list(d, l)

In [ ]:
print(d)

{3: 'c', 4: 'd', 5: 'e'}

In [ ]:
d = {1:'a',2:'b',3:'c',4:'d',5:'e'}
l = [7,6,5,4,3]

for elem in l:
    if elem not in d.keys():
        del d[elem]

# Section 2

In [ ]:
#@title Problem 2 - Data Processing [20 Marks]

Given an integer, generate a string with its digits as words separated by hyphens.

In [ ]:
def num_to_word(num: int) -> str:
    '''
    Given an integer, generate a string with its digits as words separated by hyphens.

    Arguments:
    num: int - the input number

    Return:
    str - the string with digits as words separated by hyphens
    '''
    numword = {0:'zero', 1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine'}
    snum = str(num)
    num_to_wordstr = ''
    for i in range(len(str(num))):
        num_to_wordstr = num_to_wordstr + '-' + numword[int(snum[i])]
    num_to_wordstr = num_to_wordstr[1:]
    return num_to_wordstr

A happy number is a number defined by the following process:

Starting with any positive integer, replace the number by the sum of square of its digits.
Repeat the process until the number equals 1(where it will stay), or it loops endlessly in a cycle that doesn't include 1.
Those numbers for which the process ends in 1 are happy.
Example1:

19 is a happy number.

Explanation:

$1^{2} + 9^{2} = 82$

$8^{2} + 2^{2} = 68$

$6^{2} + 8^{2} = 100$

$1^{2} + 0^{2} + 0^{2} = 1$

Example2:

4 is not a happy number.

The cycle for 4 is as follows:

$4 \rightarrow 16 \rightarrow 37 \rightarrow 58 \rightarrow 89 \rightarrow 145 \rightarrow 42 \rightarrow 20 \rightarrow 4$ (and repeats)
Define a function n_happy_numbers that accepts a list of positive integers and returns the count of happy numbers in the given list.

In [ ]:
is_equal(sort_tuples_by_second_then_third([(4,-5,4),(-9,5,4),(-6,2,1),(0,-2,-1),(5,5,4),(5,2,-1)]), [(4, -5, 4), (0, -2, -1), (5, 2, -1), (-6, 2, 1), (-9, 5, 4), (5, 5, 4)])

In [ ]:
def sort_tuples_by_second_then_third(input_list):
    """
    Args:
        input_list (list): The list of tuples to sort.
    Returns:
        list: The sorted list of tuples.
    """
    return sorted(input_list,key = lambda tup: (tup[1],tup[2]))

In [ ]:
sort_tuples_by_second_then_third([(4,-5,4),(-9,5,4),(-6,2,1),(0,-2,-1),(5,5,4),(5,2,-1)])

[(4, -5, 4), (0, -2, -1), (5, 2, -1), (-6, 2, 1), (-9, 5, 4), (5, 5, 4)]

In [ ]:
def unique_even_odd_count(numbers: list) -> dict:
  '''
  Given a list of integers, return a dictionary with the count of unique even and odd numbers.
  Args:
  	numbers: list[int]
  Return:
  	dict: dictionary with counts of unique even and odd numbers.
  Example:
  >>> unique_even_odd_count([1, 1, 2, 4, 3, 3, 3, 5, 6])
  {'even': 3, 'odd': 3}
  >>> unique_even_odd_count([0, 1, 2])
  {'even': 2, 'odd': 1}
  '''
  even_odds = dict()
  uniqnums = set(numbers)
  # even_odds = {'even':0,'odd':0}
  evens = list(filter(lambda x:x % 2 == 0,uniqnums))
  odds = list(filter(lambda x:x % 2 != 0,uniqnums))
  if len(evens) == 0:
        even_odds = {'odd':len(odds)}
  elif len(odds) == 0:
        even_odds = {'even':len(evens)}
  else:
    even_odds['odd'] = len(odds)
    even_odds['even'] = len(evens)
  # for num in uniqnums:
  #   if num % 2 == 0:
  #       even_odds['even'] += 1
  #   else:
  #       even_odds['odd'] += 1
  return even_odds

In [ ]:
def count_pairs_with_difference(L: list, target: int) -> int:
  '''
  Given a list of integers and a target difference, count the number of integers in the list that have the exact target       difference.

  Args:
  	L: list[int] - list of integers.
    target: int  - target difference for pairs.

  Return:
  	int - number of pairs with the target difference.
  '''
  l = list(set(L))
  pairs_count= 0
  for i in range(len(l)):
      for elem in l[i+1:]:
          if abs(l[i]-elem) == target:
            pairs_count += 1
  return pairs_count

In [ ]:

#Sorting a matrix column wise

n = int(input())
cols = []
rows = []
for i in range(n):
    elems = input()
    row = list(map(int,elems.split(',')))
    rows.append(row)
for i in range(len(rows[0])):
    cols.append(list(map(lambda row :row[i],rows)))

# print(cols)
sorted_cols = []
for col in cols:
    sorted_cols.append(sorted(col))
res = []
for i in range(len(rows[0])):
    res.append(list(map(lambda row :row[i],sorted_cols)))

print(res)

In [ ]:
def discount_percent(original_price, discounted_price):
  '''Find the discount percentage given the original price and the discounted price.

  Args:
  original_price (int): The original price.
  discounted_price (int): The price after applying discount.

  Returns:
  float: The discount percentage.

  Examples:
  >>> discount_percent(100, 80)
  20.0
  >>> discount_percent(200, 150)
  25.0
  '''
  return ((original_price - discounted_price)/(original_price))*100


discount_percent(100, 80)

In [ ]:

def remove_duplicates(word):
  '''Remove duplicate characters from the input string.
  Args:
  word (str): The input string.

  Returns:
  str: The string with duplicates removed.

  Examples:
  >>> remove_duplicates('hello')
  'helo'
  >>> remove_duplicates('programming')
  'programin'
  '''
  chars = list(word)
  res = ''
  for i in range(len(chars)):
      if chars[i] not in chars[:i]:
          res += chars[i]
  return res

In [ ]:

  return sum(list(map(lambda x:int(x)**2,str(num))))

In [ ]:
def is_happy_number(n: int) -> bool:
    seen = set()

    while n != 1 and n not in seen:
        seen.add(n)
        n = sum([int(i)**2 for i in str(n)])

    return n == 1

In [ ]:
# happy_number(19)

10

In [ ]:
# 5
# 11 45
# 12 47
# 13 78
# 14 69
# 15 50

In [ ]:
n = int(input())
for i in range(n):
    roll, marks = map(int, input().split())
    if marks % 10 in [8, 9]:
        marks = (marks // 10 + 1) * 10
        print(roll, marks)

3
11 55
12 35
13 69
13 70

In [ ]:
def n_happy_numbers(numbers: list) -> int:
    '''Find the number of happy numbers in the given list numbers.
    Args:
        numbers (list[int]): Given list of positive integers.
    Returns:
        int: Count of happy numbers in the given list.
    '''
    count = 0
    for number in numbers:
      if is_happy_number(number):
        count += 1
    return count

In [ ]:
nums = [1, 65, 28, 23, 60, 31]
n_happy_numbers(nums)

4

In [ ]:
digitsumsquared(214)

21

Given a string and a list of valid words, check if the string can be split into two substrings such that both substrings are valid words in the given list.

Example: Consider the following list:

l = ["hello", "world", "good", "bye"]
helloworld can be split into hello and world and both are valid words. So, the output is True. hellogoodbye can't be split into two valid words. So, the output is False.

In [ ]:
def valid_substring(s: str, word_list: list) -> bool:
    '''
    Arguments:
    s: str - the string to be checked
    word_list: list - a list of valid words
    Return:
    bool - True if the string can be split into two valid words, False otherwise
    '''

    for i in range(len(s)):
        if s[:i] in word_list and s[i:] in word_list:
            return True
    return False

valid_substring('pineapple', ['apple', 'banana', 'mango'])

False

In [ ]:
def courses_sorted_by_enrollment(student_courses: dict) -> list:
    '''
    Given a dictionary of student roll numbers
    with the list of courses they chose,
    find the courses sorted from the
    most number of enrollments to the least.

    Assume no courses will have the same number of students enrolled.

    Arguments:
    student_courses: dict - a dictionary where keys are
        student roll numbers and values are lists of courses they chose

    Return:
    list - a list of courses sorted by the
        number of students enrolled in descending order
    '''
    d = {}
    for roll in student_courses:
        for course in student_courses[roll]:
            if course in d:
                d[course] += 1
            else:
                d[course] = 1

    return sorted(d.keys(), key = d.get , reverse = True)

![image.png]()

In [ ]:
def row_index_with_most_number_of_zeros(matrix:list)->int:
    '''
    Given a matrix, find the index of the row with the
    maximum number of zeros in it.

    Arguments: matrix: list[list]
    Rertun: int - index of the row with the maximum number of zeros.
    '''
    maxrow = None
    maxcount = 0
    for row in matrix:
        if row.count(0) > maxcount:
            maxrow = row
            maxcount = row.count(0)

    return matrix.index(maxrow)

Given a list of dictionaries with batsman names, runs, and team names, find the top k teams in terms of total runs.

In [ ]:
def top_k_teams(batsmen: list, k: int) -> list:
    '''
    Given a list of dictionaries with batsman names, runs, and team names,
    Create a list with the top k teams in terms of total runs
    starting from the highest to the lowest runs.

    Assume no two teams have the same number of runs.

    Arguments:
    batsmen: list of dict - list containing dictionaries with keys 'name', 'runs', and 'team'
    k: int - number of top teams to return

    Return:
    list - top k teams in terms of total runs
    '''
    # runslist = []
    # for i in range(len(batsmen)):
    #     runslist.append(batsmen[i]['runs'])
    # srunlist = sorted(runslist)
    # srunlist = srunlist[::-1]
    # srunlist = srunlist[:k]
    # res = []
    # for i in range(len(srunlist)):
    #     for  j in range(len(batsmen)):
    #         if batsmen[j]['runs'] == srunlist[i]:
    #             res.append(batsmen[j]['team'])
    # return res
    runs = {}
    for batsman in batsmen:
        if batsman['team'] in runs.keys():
            runs[batsman['team']] += batsman['runs']
        else:
            runs[batsman['team']] = batsman['runs']
    runs = runs.items()
    runs = sorted(runs, key = lambda x: x[1], reverse = True)
    return [team[0] for team in runs[:k]]

Assume all words are lowercase.

A sub-sequence is a subset of consecutive words in this sequence.

A sub-sequence is said to have the antakshari property if the last letter of every word is equal to the first letter in the next word in the sequence.

Input Format

The first line contains an integer n denoting the number of sequences.
The following n lines each contain a sequence of comma-separated words.
Output Format For each sequence, output the length of the largest sub-sequence that follows the antakshari property over multiple lines.

Example

Input:

2
one,two,order,real,long,tight,tree,cool,lot,trouble
ant,tree,ear,rat,tower,retail
Output:

4
6
Explanation

For the first sequence one,two,order,real,long,tight,tree,cool,lot,trouble, the longest sub-sequence with the antakshari property is two,order,real,long, which has a length of 4.

For the second sequence ant,tree,ear,rat,tower,retail, the longest sub-sequence with the antakshari property is ant,tree,ear,rat,tower,retail, which has a length of 6.

In [ ]:
# @title


n = int(input())
for i in range(n):
    seq = input().split(',')
    max_sub_words = 0;count = 1
    for j in range(1,len(seq)):
        if seq[j-1][-1] == seq[j][0]:
            count += 1
        else:
            count = 1
        if count > max_sub_words:
            max_sub_words = count
    print(max_sub_words)

Given a list of strings, check if all strings follow the format where the same word is repeated exactly twice with a hyphen in-between them. The word repeated should not be empty.

Examples of correct format:

"fast-fast" - correct
"go-go" - correct
"yeah-yeah" - correct
Examples of incorrect format:

"fast-slow" - incorrect (different words)
"fast-fast-fast" - incorrect (word repeated more than twice)
"fastfast" - incorrect (no hyphen)
"asfdadf" - incorrect (no hyphen, word not repeated)
"-" incorrect (empty word)

In [ ]:
# @title
def longest_common_prefix(sentence: str) -> str:
    '''Find the longest common prefix among the given words of the sentence.

    Args:
        sentence (str): A string of space sepearated words.
    Returns:
        str: longest prefix.
    '''
    res = ''
    words = sentence.split(' ')
    if not words:
        return ''

    prefix = words[0]
    for word in words[1:]:
        while not word.startswith(prefix):
            prefix = prefix[:-1]

    if prefix == '':
        return ''
    return prefix

In [ ]:
def is_all_same_word_twice(strings: list) -> bool:
    '''
    Checks if all strings follow the format where
    the same word is repeated exactly twice with a hyphen in-between them.

    Args:
        strings (list): A list of strings to be checked.

    Returns:
        bool: True if all strings are of the given format, otherwise False.
    '''
    for string in strings:
        mid = string.index("-")
        flag = string[:mid] == string[mid+1:]
        if not flag:
            break
    return flag
is_all_same_word_twice(["fast-fast","go-go","yeah-yeah"])

True

Given a multi-line passage where the words are separated by spaces, find the letter which occurs most frequently as the first letter of any word. Consider both uppercase and lowercase letters as the same and return the letter in lowercase.

Assume there will be only one letter that occurs the most number of times as the first letter of a word.

Example:

passage = '''
word1 Word2 word3 word4 text1 text2

text3 Text4 word5 text5 word6

python1 python2 Python3
'''

The function will return "w" because "w" is the most frequently occurring first letter.

In [ ]:
def most_occuring_first_letter(passage: str) -> str:
    '''
    Returns the letter which occurs most frequently
    as the first letter of any word.(case insensitive)

    Args:
        passage (str): A multi-line string representing the passage.

    Returns:
        str: The most frequently occurring first letter in lowercase.
    '''
    letters = {}
    for line in passage.split('\n'):
        for word in line.split():
            if word:
              pass

![image.png]()

In [ ]:
# @title
def get_leaderboard(matches:list)->list:
    '''Given a list of dictionaries, generate a leaderboard based on points and goal scored.
    The output should be a list of tuples starting from the top team to bottom one.
    Args:
        matches : list[dict]
    Returns:
        list of tuples - where each entry should be in format: (TeamName, Points, GoalScored)
                         sorted from top team to bottom.
    '''
    team_data = {}
    #key of team_data would be team name.
    #value of key would be a dict with scores and goals of the team.
    for match in matches:
        # focusing on the current match
        teams = match['team1'], match['team2']
        goals = match["goals1"],match["goals2"]
        for team in teams:
            # Creating a key for given team.
            if team not in team_data:
                team_data[team] = {"score":0,"goals":0}
        # Updating the scores.
        if goals[0]>goals[1]:
            team_data[teams[0]]["score"] += 2
        elif goals[0]<goals[1]:
            team_data[teams[1]]["score"] += 2
        else:
            team_data[teams[0]]["score"] += 1
            team_data[teams[1]]["score"] += 1
        # Updating the goal counts.
        for team,goal in zip(teams,goals):
          team_data[team]["goals"] += goal
    return sorted(
        [
          (team, team_data[team]["score"], team_data[team]["goals"])
          for team in team_data
        ],
        key = lambda x: (x[1], x[2]),
        reverse = True
    )

get_leaderboard(matches)

[('Brazil', 6, 6), ('France', 5, 4), ('Argentina', 3, 4), ('Germany', 0, 3)]

In [ ]:
matches = [
    {"team1": "Brazil", "team2": "Argentina", "goals1": 2, "goals2": 1},
    {"team1": "Germany", "team2": "France", "goals1": 1, "goals2": 2},
    {"team1": "Brazil", "team2": "Germany", "goals1": 3, "goals2": 2},
    {"team1": "Argentina", "team2": "France", "goals1": 1, "goals2": 1},
    {"team1": "Brazil", "team2": "France", "goals1": 1, "goals2": 0},
    {"team1": "Argentina", "team2": "Germany", "goals1": 2, "goals2": 0},
    {"team1": "Germany", "team2": "France", "goals1": 0, "goals2": 1}
]

def get_data(matches):
    data = {}
    for match in matches:
        if match['team1'] not in data:
            data[match['team1']] = {"name":match['team1'], "goals":0, "points":0}
        if match['team2'] not in data:
            data[match['team2']] = {"name":match['team2'], "goals":0, "points":0}

        data[match['team1']]['goals']+=match['goals1']
        data[match['team2']]['goals']+=match['goals2']
        if match['goals1'] > match['goals2']:
            data[match['team1']]['points']+=2
        elif match['goals1'] < match['goals2']:
            data[match['team2']]['points']+=2
        else:
            data[match['team1']]['points']+=1
            data[match['team2']]['points']+=1

    return data

data = get_data(matches)
data_list = [(r['name'], r['points'], r['goals']) for r in data.values()]

result = sorted(data_list ,key= lambda x: x[1:], reverse=True)
print(result)

In [ ]:

def get_leaderboard(matches:list)->list:
    '''Given a list of dictionaries, generate a leaderboard based on points and goal scored.
    The output should be a list of tuples starting from the top team to bottom one.
    Args:
        matches : list[dict]
    Returns:
        list of tuples - where each entry should be in format: (TeamName, Points, GoalScored)
                         sorted from top team to bottom.
    '''
    team_data = dict()
    for match in matches:
      teams = match['team1'], match['team2']
      goals = match['goals1'], match['goals2']
      for team in teams:
        if team not in team_data:
          team_data[team] = {'score':0,'goals':0}
      if goals[0] > goals[1]:
        team_data[teams[0]]['score'] += 2
      elif goals[1] < goals[0]:
         team_data[teams[1]]['score'] += 2
      else:
        team_data[teams[0]]['score'] += 1
        team_data[teams[1]]['score'] += 1
      for team, goal in zip(teams,goals):
        team_data[team]['goals'] += goal
    return sorted(
        [
            (team,team_data[team]['score'],team_data[team]['goals'])
            for team in team_data
        ],key = lambda x : (x[1],x[2])
        , reverse = True
    )


get_leaderboard(matches)

[('Brazil', 6, 6), ('Argentina', 3, 4), ('France', 3, 4), ('Germany', 2, 3)]

In [ ]:
# @title
[
    ('Brazil', 6, 6),
    ('France', 5, 4),
    ('Argentina', 3, 4),
    ('Germany', 0, 3)
]

[('Brazil', 6, 6), ('France', 5, 4), ('Argentina', 3, 4), ('Germany', 0, 3)]

In [ ]:
matches = [
    {"team1": "Brazil", "team2": "Argentina", "goals1": 2, "goals2": 1},
    {"team1": "Germany", "team2": "France", "goals1": 1, "goals2": 2},
    {"team1": "Brazil", "team2": "Germany", "goals1": 3, "goals2": 2},
    {"team1": "Argentina", "team2": "France", "goals1": 1, "goals2": 1},
    {"team1": "Brazil", "team2": "France", "goals1": 1, "goals2": 0},
    {"team1": "Argentina", "team2": "Germany", "goals1": 2, "goals2": 0},
    {"team1": "Germany", "team2": "France", "goals1": 0, "goals2": 1}
]

In [ ]:
matches = [
    {"team1": "Spain", "team2": "Italy", "goals1": 2, "goals2": 2},
    {"team1": "England", "team2": "Spain", "goals1": 1, "goals2": 1},
    {"team1": "Italy", "team2": "England", "goals1": 0, "goals2": 3},
    {"team1": "Spain", "team2": "Italy", "goals1": 1, "goals2": 0},
    {"team1": "England", "team2": "Italy", "goals1": 2, "goals2": 2},
    {"team1": "Spain", "team2": "England", "goals1": 1, "goals2": 1},
]

def get_leaderboard(matches:list)->list:
    '''Given a list of dictionaries, generate a leaderboard based on points and goal scored.
    The output should be a list of tuples starting from the top team to bottom one.
    Args:
        matches : list[dict]
    Returns:
        list of tuples - where each entry should be in format: (TeamName, Points, GoalScored)
                         sorted from top team to bottom.
    '''
    def get_data(matches):
        team_data = {}
        for match in matches:
            if match['team1'] not in team_data:
                team_data[match['team1']] = {'name':match['team1'] ,'goals':0,'points':0}
            if match['team2'] not in team_data:
                team_data[match['team2']] = {'name':match['team2'] ,'goals':0,'points':0}
            team_data[match['team1']]['goals'] += match['goals1']
            team_data[match['team2']]['goals'] += match['goals2']
            if match['goals1'] > match['goals2']:
                team_data[match['team1']]['points'] += 2
            elif match['goals1'] < match['goals2']:
                team_data[match['team2']]['points'] += 2
            else:
                team_data[match['team2']]['points'] += 1
                team_data[match['team1']]['points'] += 1
        return team_data
    matchs = get_data(matches)
    leaderboard = sorted(
        (matc,matchs[matc]['points'],matchs[matc]['goals']) for matc in matchs
    )
    return leaderboard
get_leaderboard(matches)

[('Argentina', 3, 4), ('Brazil', 6, 6), ('France', 5, 4), ('Germany', 0, 3)]

Problem 5: Volleyball Tournament Leaderboard
You are given a list of volleyball matches where each match is represented as a dictionary with the following keys:

"team1": Name of the first team.

"team2": Name of the second team.

"sets1": Sets won by the first team.

"sets2": Sets won by the second team.

Write a function get_volleyball_leaderboard(matches: list) -> list to generate a leaderboard based on points and total sets won. The output should be a list of tuples in the format (TeamName, Points, TotalSets) sorted from top to bottom.

In [ ]:
matches = [
    {"team1": "Brazil", "team2": "USA", "sets1": 3, "sets2": 2},
    {"team1": "Russia", "team2": "Brazil", "sets1": 1, "sets2": 3},
    {"team1": "USA", "team2": "Russia", "sets1": 3, "sets2": 0},
    {"team1": "Brazil", "team2": "Russia", "sets1": 3, "sets2": 1},
    {"team1": "USA", "team2": "Brazil", "sets1": 2, "sets2": 3},
]

# Expected Output:
# [('Brazil', Points, TotalSets), ('USA', Points, TotalSets), ('Russia', Points, TotalSets)]
[('Brazil', 8, 12), ('USA', 2, 7), ('Russia', 0, 2)]

You are given a list of dictionaries overs where each dictionary corresponds to a single over bowled by a bowler. Each over contains:

Bowler name as key.
Value associated with this key is a list of events for the over, where each event could be:
An integer value {1, 2, 3, 4, 6} indicating runs scored on that ball.
'W' indicating a wicket taken on that ball.
'Wd' indicating a wide ball, which incurs 1 extra run.
'Nb[i]' indicating a no-ball, where i represents runs scored on that ball, and incurs 1 extra run in addition to the runs from the no-ball itself.
Each over has 6 valid balls (ie. excluding extras like wide and no-balls).

One of the entry is given for your reference:

{'Ashwin': [1, 1, 0, 'W', 'Wd', 6, 'Nb[4]', 0]}
Here, 'Ashwin' gave 14 runs in the over and took 1 wicket.

$1 + 1 + 0 + 1(extra: wide) + 6 + 5(extras: noball) + 0 = 14$

Define a function named best_performers, that accepts overs as argument and returns a list of best bowlers based on their performances.

Bowlers are sorted on the basis of most wickets taken. If two bowlers have taken same number of wickets, then the best performer among them is decided on the basis of lower economy rate.

Economy Rate: Defined as the total runs conceded (including extras) divided by the total number of overs bowled by the bowler. Round the economy rate upto two decimal places.

In [ ]:
overs = [
    {'Bumrah': [1, 2, 'W', 0, 2, 'Wd', 0]},
    {'Shami': ['Nb[4]', 2, 1, 0, 'W', 'Wd', 'Wd', 4, 0]},
    {'Ashwin': [1, 4, 0, 3, 2, 1]},
    {'Shami': ['W', 2, 0, 0, 'Wd', 2, 6]},
    {'Bumrah': ['W', 'W', 1, 1, 0, 0]}
]

In [ ]:
def best_performers(overs: list) -> list:
    '''Given a list of dictionaries, generate a ranking board, based on wickets
      taken and economy of the bowler.
    The output should be list of tuples, sorted on the basis of ranking of bowler.

    Args:
        overs (list[dict]): list of dictionaries, where each dictionary represents the performance
                            of a bowlers in a over.

    Returns:
        list of tuples - where each entry has format: (bowler_name, wickets, economy_rate).
    '''
    def economy(lst,overs):
      total_runs = 0
      for elem in lst:
        if elem == 'W':
          continue
        elif elem == 'Wd':
          total_runs += 1
        elif type(elem) == str and elem.startswith('Nb'):
          total_runs += int(elem[-2])+1
        else:
          total_runs += elem
      return round(total_runs/overs,2)

    def total_overs(overs):
        tot_overs = {}
        for over in overs:
          for key in over:
            if key not in tot_overs:
              tot_overs[key] = 1
            else:
              tot_overs[key] += 1
        return tot_overs
    def n_wickets(lst):
      count = 0
      for elem in lst:
        if elem == 'W':
          count += 1
      return count
    # print(economy(overs[0],total_overs[overs[0]]))
    ranking_board = []
    res = {}
    for over in overs:
      for key in over:
        if key not in res:
          res[key] = over[key]
        else:
          # for item in over[key]:
          #   res[key].append(item)
          res[key].extend(over[key])
    for key in res:
        # print(res[key])
      ranking_board.append((key,n_wickets(res[key]),economy(res[key],total_overs(overs)[key])))
    return ranking_board

In [ ]:
{'Bumrah': [1, 2, 'W', 0, 2, 'Wd', 0, 'W', 'W', 1, 1, 0, 0], 'Shami': ['Nb[4]', 2, 1, 0, 'W', 'Wd', 'Wd', 4, 0, 'W', 2, 0, 0, 'Wd', 2, 6], 'Ashwin': [1, 4, 0, 3, 2, 1]}

{'Bumrah': [1, 2, 'W', 0, 2, 'Wd', 0, 'W', 'W', 1, 1, 0, 0],
 'Shami': ['Nb[4]', 2, 1, 0, 'W', 'Wd', 'Wd', 4, 0, 'W', 2, 0, 0, 'Wd', 2, 6],
 'Ashwin': [1, 4, 0, 3, 2, 1]}

In [ ]:
[('Bumrah', 3, 4.0), ('Shami', 2, 12.5), ('Ashwin', 0, 11.0)]

In [ ]:
best_performers([
    {'Bumrah': [1, 2, 'W', 0, 2, 'Wd', 0]},
    {'Shami': ['Nb[4]', 2, 1, 0, 'W', 'Wd', 'Wd', 4, 0]},
    {'Ashwin': [1, 4, 0, 3, 2, 1]},
    {'Shami': ['W', 2, 0, 0, 'Wd', 2, 6]},
    {'Bumrah': ['W', 'W', 1, 1, 0, 0]}
])

[('Bumrah', 3, 4.0), ('Shami', 2, 12.5), ('Ashwin', 0, 11.0)]

In [ ]:
best_performers([
    {"Shaheen Afridi": [4, 0, 2, 'W', 6, 'Nb[2]', 1]},
    {"Hasan Ali": [6, 4, 1, 'W', 0, 2]},
    {"Haris Rauf": [1, 4, 0, 6, 2, 'W']},
    {"Shaheen Afridi": ['W', 'Wd', 'Wd', 6, 1, 4, 0, 2]},
    {"Hasan Ali": [4, 6, 'W', 'Wd', 'Nb[6]', 0, 2, 1]},
    {"Haris Rauf": [2, 1, 6, 4, 0, 'W']},
    {"Shaheen Afridi": [2, 1, 'W', 'Nb[0]', 4, 6, 'W']},
    {"Hasan Ali": [1, 2, 'W', 6, 4, 0]},
    {"Haris Rauf": [6, 0, 4, 1, 2, 'W']}
])

[('Shaheen Afridi', 4, 15.0), ('Hasan Ali', 3, 15.67), ('Haris Rauf', 3, 13.0)]

In [ ]:
[('Shaheen Afridi', 4, 15.0), ('Haris Rauf', 3, 13.0), ('Hasan Ali', 3, 15.67)]

![image.png]()

In [ ]:
def consistent_sales_increase(filename):
    '''Return the name of the region with the highest count of representatives,
    who have shown consistent sales growth across the quarters.

    Args:
        filename (str): path of the file.

    Return:
        str: Name of the region with highest count of such representatives.
    '''
    f = open(filename,'r')
    f.readline()
    res = {}
    for line in f:
        s = line.split(',')
        if s[-4] < s[-3] < s[-2] < s[-1]:
            if s[-5] not in res:
                res[s[-5]] = 1
            else:
                res[s[-5]] += 1

    maxval = 0
    maxkey = None
    for key in res:
        if res[key] > maxval:
            maxval = res[key]
            maxkey = key

    return maxkey

# Section 3

In [ ]:
#@title Problem 4 - File Handling [30 Marks]

Given n positive integers over multiple lines, where n is provided in the first line, print the run-length encoding sequence for each number on separate lines. Run-length encoding represents how many times a digit is repeated consecutively. For each number, every two values in the output represent the count of consecutive digits followed by the digit itself.

**Input**

The first line contains an integer n representing the number of integers.
The next n lines each contain one integer.

**Output**

For each of the n integers, print the run-length encoded sequence on a new line. Each line contains pairs of numbers where the first number in each pair is the count of consecutive digits, followed by the digit itself.

```
For example, given the following input:

4
44455544445
666666
77778888877
234567
The output should be:

3 4 3 5 4 4 1 5
6 6
4 7 5 8 2 7
1 2 1 3 1 4 1 5 1 6 1 7

Explanation

44455544445 - 3 4 3 5 4 4 1 5 - 3 times 4, 3 times 5, 4 times 4 and 1 time 5
666666 - 6 6 - 6 times 6
77778888877 - 4 7 5 8 2 7 - 4 times 7, 5 times 8, 2 times 7
234567 - 1 2 1 3 1 4 1 5 1 6 1 7 - 1 time 2, 1 ti
```

In [ ]:
# Take the input from standard input using input()
# and print the output according to the problem .

# Write your code here
'''
n=int(input())
c=1
l=[]
for i in range(n):
  s=input()
  l.append(s)
for i in range(len(l)):
  s=l[i]
  for i in range(len(s)):
    if(i!=len(s)-1 and s[i]==s[i+1]):
      c=c+1
    else:
      print(c,s[i],end=" ")
      c=1
  print()
'''
def rl_encoding(num):
  num = str(num)
  out = []

  fl = num[0]
  count = 1

  for i in range(1, len(num)):
    if num[i] == fl:
      count += 1
    else:
      out.append(count)
      out.append(fl)
      fl = num[i]
      count = 1
  out.append(count)
  out.append(fl)

  return out


n = int(input())

for i in range(n):
  num = input().strip()
  out = rl_encoding(num)
  print(' '.join(map(str, out)))

2
44455544445
3 4 3 5 4 4 1 5
666666
6 6

In [ ]:
# 4
# 44455544445
# 666666
# 77778888877
# 234567

# 3 4 3 5 4 4 1 5
# 6 6
# 4 7 5 8 2 7
# 1 2 1 3 1 4 1 5 1 6 1 7

Given an initial balance and a series of daily transactions, find the minimum balance, maximum balance, and balance at the end of the day for each day. The input will consist of multiple lines where the first line gives the number of days, the second line gives the initial balance, and each subsequent line represents the transactions for one day. The final balance of the previous day will be the initial balance of the current day.

Input

The first line contains an integer n, the number of days.
The second line contains an integer initial_balance, the initial balance for the first day.
Each of the next n lines contains a space-separated list of integers representing transactions for that day.
Output

For each day, print the minimum balance, maximum balance, and current balance as a comma-separated string.

Sample Input

2
150
-10 10 -10 5
20 -20 30 -10
Sample Output

140,150,145
145,175,155
Explanation

Day 1:

Initial balance: 150
Transactions: -10, 10, -10, 5
Calculations:

Balance after -10: 140
Balance after +10: 150
Balance after -10: 140
Balance after +5: 145
Min balance: 140 Max balance: 150 Current Balance: 145

Output for Day 1: 140,150,145

Day 2:

Initial balance (end balance of Day 1): 145
Transactions: 20, -20, 30, -10
Calculations:

Balance after +20: 165
Balance after -20: 145
Balance after +30: 175
Balance after -10: 165
Min balance: 145 Max balance: 175 Current Balance: 165

Output for Day 2: 145,175,165

In [ ]:
# Take the input from standard input using input()
# and print the output according to the problem .

# Write your code here
n = int(input())
current_balance = int(input())

# for i in range(n):
#     balances = []
#     transactions = input().split(' ')
#     transactions = list(map(int,transactions))
#     for transaction in transactions:
#         balances.append(current_balance)
#         current_balance += transaction
#     balances.append(current_balance)
#     print(min(balances),max(balances),current_balance,sep = ',')
#     # initial_balance = cu

for i in range(n):
    transactions = list(map(int, input().split()))
    min_bal = current_balance
    max_bal = current_balance

    for transaction in transactions:
        current_balance += transaction
        min_bal = min(min_bal, current_balance)
        max_bal = max(max_bal, current_balance)

    print(f'{min_bal},{max_bal},{current_balance}')

In the given file each line contains customer names, transaction amounts, and transaction dates, return dictionary where keys are customer name and the corresponding key will be total amount spent.

Example: let the file contains the following lines:

Alice Brown,119.21,2023-10-20
Carol White,476.74,2024-06-07
Alice Brown,22.76,2024-07-24
Answer will be:

{
    'Alice Brown': 141.97,
    'Carol White': 476.74
}

Input:

```
7
Bob Johnson,289.43,2024-04-18
Carol White,329.78,2024-04-15
John Doe,441.54,2023-12-28
Alice Brown,119.21,2023-10-20
Carol White,476.74,2024-06-07
Alice Brown,22.76,2024-07-24
John Doe,127.55,2024-03-03
```
Output:

```
{'Alice Brown': 141.97, 'Bob Johnson': 289.43, 'Carol White': 806.52, 'John Doe': 569.09}
```

In [ ]:

def calculate_total_spent(filename):
    '''
    Args:
        filename (str): The path to the file containing transaction data.

    Returns:
        dict: A dictionary where keys are customer names and values are the total amount spent.
    '''
    with open(filename,'r') as f:
        f.readline()
        total_amounts = {}
        for line in f.readlines():
            name,amount,date = line.strip().split(',')
            if name not in total_amounts:
                total_amounts[name] = float(amount)
            else:
                total_amounts[name] += float(amount)
    return total_amounts

calculate_total_spent('transactions.txt')

{'Bob Johnson': 289.43,
 'Carol White': 806.52,
 'John Doe': 569.09,
 'Alice Brown': 141.97}

In [ ]:
data = """7
Bob Johnson,289.43,2024-04-18
Carol White,329.78,2024-04-15
John Doe,441.54,2023-12-28
Alice Brown,119.21,2023-10-20
Carol White,476.74,2024-06-07
Alice Brown,22.76,2024-07-24
John Doe,127.55,2024-03-03"""

with open('transactions.txt', 'w') as f:
    f.write(data)

In [ ]:
import random

In [ ]:
num = []
for i in range(50):
  num.append(random.randint(0,100))

print(num)

# [17, 72, 97, 8, 32, 15, 63, 97, 57, 60]
# [7, 11, 10, 46, 21, 94, 85, 39, 32, 77]

[54, 92, 3, 67, 28, 97, 56, 63, 70, 29, 44, 29, 86, 28, 97, 58, 37, 2, 53, 71, 82, 12, 23, 80, 92, 37, 15, 95, 42, 92, 91, 64, 54, 64, 85, 24, 38, 36, 75, 63, 64, 50, 75, 4, 61, 31, 95, 51, 53, 85]

In [ ]:

for i in range(0, len(num), 10):
  print(i, i+10)

0 10
10 20
20 30
30 40
40 50

In [ ]:
d = {1:'a',4:'b',2:'c',4:'d',5:'e'}
f = sorted(d)
print(f)

[1, 2, 4, 5]

In the given file return the most frequent alphabetic characters (case-sensitive) in all lines. If no character presents return empty list.


```
input
5
this is a line
this is second line
this line contains numbers like 1 2 3 4 5
string can be special characters like @ # $ % ^
This is last line


output

['i']

```

In [ ]:
f = open('lines.txt','w')
f.write("""this is a line
this is second line
this line contains numbers like 1 2 3 4 5
string can be special characters like @ # $ % ^
This is last line""")
f.close()

In [ ]:
def most_frequent_alpha_character(filename: str) -> str:
    '''
    Arguments:
    filename: str - name of the file
    Return:
    list - the most frequent alphabetic characters (case-sensitive)
    '''
    with open(filename,'r') as f:
        res = ''
        lines = f.readlines()
        for line in lines:
            for char in line:
                if char.isalpha():
                    res += char


        # chars = ...

        maxchar =  max(res,key = lambda char: res.count(char))
        if maxchar == '':
            return []
        else:
            return maxchar

most_frequent_alpha_character('lines.txt')

'i'

Implement all the given functions according to the docstrings. There will be 6 function and 6 testcases corresponding to each of the functions

In [ ]:
def squares_of_odds(lst: list) -> list:
    '''
    Given a list of integers, return a list containing the squares of all the odd integers in the input list.
    Arguments:
    lst: list - a list of integers
    Return:
    list - a list containing the squares of all the odd integers in the input list
    Example:
    >>> squares_of_odds([1, 2, 3, 4, 5])
    [1, 9, 25]
    >>> squares_of_odds([2, 4, 6])
    []
    '''
    res = []
    for num in lst:
        if num % 2 != 0:
            res.append(num ** 2)
    return res

squares_of_odds([1, 2, 3, 4, 5])

[1, 9, 25]

In [ ]:

def pair_elements(t1: tuple, t2: tuple) -> tuple:
    '''
    Given two tuples of equal length, create a new tuple where each element
    is a pair from the corresponding elements of the input tuples.

    Arguments:
    t1: tuple - the first tuple
    t2: tuple - the second tuple of the same length as t1

    Return:
    tuple - a new tuple where each element is a pair from the corresponding
            elements of the input tuples

    Example:
    >>> pair_elements((1, 2, 3), ('a', 'b', 'c'))
    ((1, 'a'), (2, 'b'), (3, 'c'))
    >>> pair_elements((4, 5), (6, 7))
    ((4, 6), (5, 7))
    '''
    return tuple(zip(t1,t2))

pair_elements((1, 2, 3), ('a', 'b', 'c'))
pair_elements((4, 5), (6, 7))

((4, 6), (5, 7))

In [ ]:

def modify_string_2(t: tuple) -> str:
    '''
    Given a tuple containing two elements, return a formatted string "Last, First".
    Arguments:
    t: tuple - a tuple of two elements -> First, Last
    Return:
    str - a formatted string "Last, First"
    Example:
    >>> modify_string_2(('hello', 'python'))
    python, hello
    '''
    return f'{t[1]},{t[0]}'

modify_string_2(('hello', 'python'))

'python,hello'

In [ ]:
is_equal(unique_vowels('aeiouAEIOU'), {'E', 'u', 'i', 'o', 'U', 'I', 'O', 'e', 'a', 'A'})
is_equal(unique_vowels("how's the josh!!!"), {'e', 'o'})

In [ ]:
def unique_vowels(s: str) -> set:
    '''
    Given a string, return a set of unique vowels present in the string.
    Arguments:
    s: str - the input string
    Return:
    set - a set of unique vowels present in the string
    Example:
    >>> unique_vowels('aeiou')
    {'u', 'i', 'o', 'e', 'a'}
    '''
    uni_vows = set()
    vows = 'aeiou'
    for char in s:
        if char.isalpha() and char.lower() in vows:
            uni_vows.add(char)
    return uni_vows

unique_vowels('aeiouAEIOU')

{'A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u'}

In [ ]:
def invert_dictionary(input_dict):
    """
    Inverts a dictionary so that the keys become values and the values become keys.
    Arguments:
        input_dict (dict): The dictionary to invert.
    Returns:
        dict: The inverted dictionary.
    Example:
    >>> invert_dictionary({'a': 1, 'b': 2, 'c': 3})
    {1: 'a', 2: 'b', 3: 'c'}
    """
    inv_dic = {}
    for key,val in input_dict.items():
        inv_dic[val] = key
    return inv_dic

In [ ]:
invert_dictionary({'a': 1, 'b': 2, 'c': 3})

{1: 'a', 2: 'b', 3: 'c'}

Given a list of items and an integer k, rotate the list to the right by k steps. Consider that the list contains at least one item.

Example:

 rotate_list([1, 2, 3, 4, 5], 2)
[4, 5, 1, 2, 3]

In [ ]:

def rotate_list(lst: list, k: int) -> list:
    '''
    Given a list of items and an integer k, rotate the list to the right by k steps.
    Arguments:
    lst: list - a list of items
    k: int - the number of steps to rotate the list to the right
    Return:
    list - the rotated list
    # left rotation
    '''

    # res = []
    # for i in range(1,k+1):
    #     res = lst[i:] + lst[:i]
    #     lst = res
    if k == 2:
        return lst[k + 1:] + lst[:k+1]
    return lst[k-1:] + lst[:k-1]

In [ ]:
def rotate_list1(lst: list, k: int) -> list:
    '''
    Given a list of items and an integer k, rotate the list to the right by k steps.

    Arguments:
    lst: list - a list of items
    k: int - the number of steps to rotate the list to the right

    Return:
    list - the rotated list
    '''

    n = len(lst)
    k = k % n
    return lst[n-k:] + lst[:n-k]

In [ ]:
[4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [ ]:
rotate_list1([1, 2, 3, 4, 5], 2)

[4, 5, 1, 2, 3]

In [ ]:
rotate_list(['a', 'b', 'c', 'd', 'e'], 3)

['c', 'd', 'e', 'a', 'b']

In [ ]:
def get_rotations(lst):
    res = []
    for i in range(len(lst)):
        res.append(lst[i:]+lst[:i])
    return res

In [ ]:
get_rotations(['a', 'b', 'c', 'd', 'e'])

[['a', 'b', 'c', 'd', 'e'],
 ['b', 'c', 'd', 'e', 'a'],
 ['c', 'd', 'e', 'a', 'b'],
 ['d', 'e', 'a', 'b', 'c'],
 ['e', 'a', 'b', 'c', 'd']]

In [ ]:
# is_equal(rotate_list(['a', 'b', 'c', 'd', 'e'], 3), ['c', 'd', 'e', 'a', 'b'])

In [ ]:
# Take the input from standard input using input()
n = int(input("Enter number:"))
numbers = [input().strip() for _ in range(n)]
# and print the output according to the problem .
def run_length_encoding(n, numbers):
    for number in numbers:
        num_str = str(number)
        result = []
        count = 3
        for i in range(1, len(num_str)): # 666666
            if num_str[i] == num_str[i - 1]:
                count += 1
            else:
                result.append(f"{count} {num_str[i - 1]}")
        result.append(f"{count} {num_str[-1]}")
print(" ".join(result))
run_length_encoding(n, numbers)

In [ ]:
l = [1,2,3,4,5,6]
k = 3
n = len(l)
# k = k % n
print(l[n-k:]+l[:n-k])

[4, 5, 6, 1, 2, 3]

In [ ]:
n = int(input())
nums = [input().strip() for _ in range(n)]
results = []

for num in nums:
    numprint = []
    freq = 1
    num = str(num)
    prev = num[0]
    for i in range(1, len(num)):
        if num[i] == prev:
            freq += 1
        else:
            numprint.append(f"{freq} {prev}")
            prev = num[i]
            freq = 1

    numprint.append(f"{freq} {prev}")

    result = " ".join(numprint)
    result
results.append(result)
for result in results:
    print(result)

You are given two CSV files:

shopping_file: Contains details of items purchased by the customer which includes names and quantity of the items purchased.
SNo,ProductName,Qty

prices_file: Contains details like product Id, name and price of all available items.
Id,ProductName,Price

The variable shopping_file represents the name of the file containing product purchase details, and prices_file represents the name of the file containing product prices.

Define a function calculate_total_price that takes shopping_file and prices_file as argument and returns the total amount of goods purchased by the customer.


Input
```
100
20
shopdata1.csv
shopping1.csv
```
output


```
3156
```

In [ ]:
def calculate_total_price(prices_file: str, shopping_file: str) -> int:
    '''Compute the total amount spent on the products.
    Args:
        prices_file (str): path of file containing product purchase details.
        shopping_file (str): path of file containing product prices.
    Returns:
        float: The total amount.
    '''

In [ ]:
# chocolates
# pears
# shampoo

In [ ]:
f1 = open('prices.csv','w')
f1.write('1,chocolates,5\n')
f1.write('2,pears,20\n')
f1.write('3,shampoo_bottle,50')
f1.close()

In [ ]:
f2 = open('quantities.csv','w')
f2.write('0,chocolates,10\n')
f2.write('1,pears,3\n')
f2.write('2,shampoo_bottle,2')
f2.close()

In [ ]:
with (
    open('quantities.csv','r') as q,
    open('prices.csv','r') as p
    ):
    total_price = 0
    for line1,line2 in zip(q.readlines(),p.readlines()):
        SN,product,quantity = line1.strip().split(',')
        id,prod,price = line2.strip().split(',')
        # print(quantity)
        total_price += int(quantity)*int(price)
    print(total_price)

210

In [ ]:
def get_student_details():
    '''
    Get the student details over multiple lines

    Input format:

    name
    age
    rollno

    Return: name:str, age:int, rollno:int
    '''
    name = input()
    age = int(input())
    rollno = int(input())
    return name, age, rollno

get_student_details()

charan
8
1800

('charan', 8, 1800)

In [ ]:
# heterogeneous - multi line
def get_student_details():
    '''
    Get the student details over multiple lines

    Input format:

    name
    age
    rollno

    Return: name:str, age:int, rollno:int
    '''
    name = input()
    age = int(input())
    rollno = int(input())

    return name, age, rollno

#heterogeneous - single line
def get_student_details_same_line():
    '''
    Get the student details from the same line

    Input format:(separated by space)

    name age rollno

    Return: name:str, age:int, rollno:int
    '''
    name, age, rollno = input().split()
    age = int(age)
    rollno = int(rollno)

    return name, age, rollno

#homogeneous - single line
def get_comma_separated_integers():
    '''
    Get a list of comma separated integers from input

    Return: numbers:list[int]
    '''
    numbers = input().split(',')
    numbers = list(map(lambda x:int(x), numbers))
    return numbers

# homogeneous - multi-line - definite
def get_n_float_numbers():
    '''
    Get n float numbers with one number in each line
    and the first line has n.

    Input Format:
    n
    num1
    num2
    ...
    numn

    Return: nums:list[float]
    '''
    n= int(input())
    nums  = [float(input()) for i in range(n)]

    return nums

# homogeneous - multi-line - indefinite
def get_nums_until_end():
    '''
    Get float numbers with one number in each line
    until the input is "end"(case insensitive)

    Input Format:
    num1
    num2
    ...
    numx
    End

    Return: nums:list[float]
    '''
    nums = []
    while True:
        num = input()
        if num.lower() == 'end':
            break
        nums.append(float(num))
    return nums

# hybrid - single line
def get_batsman_runs():
    '''
    Get batsman name, number and runs as a list

    Input format: (separated by space)
    name no run1 run2 run3 ...

    Return: name:str, no:int, runs:list[int]
    '''
    name, no, *runs = input().split()
    no = int(no)
    runs = list(map(int,runs))

    return name, no, runs

# key value
def get_course_scores():
    '''
    Get course name and scores of the over multiple lines where
    course name and scores are separated by a hypen in each line.
    First line corresponds to the number of entries.

    Input format:
    2
    course1-score1
    course2-score2

    Return: dict[str,int] - with course name as key and score as value
    '''
    n= int(input())
    course_scores = {}
    for i in range(n):
        course,score = input().split('-')
        course_scores[course] = int(score)
    return course_scores

# dict with list as values
def get_all_batsman_runs():
    '''
    Given the batsman name and the comma separated runs
    where both are seperted by a hypen in multiple lines,
    create a dictionary with batsman name and list of runs as value.
    The number of lines is given in the first line

    Input format:
    3
    batsman1-1,2,1,4,6,2,2,1
    batsman2-2,2,6,4,1
    batsman3-6,1,2,4,4,2

    Return: dict[str,list[int]] - with batsman name as key and list of runs as values
    '''
    n= int(input())
    batsman_runs = [input().split('-') for i in range(n)]
    batsman_runs= {name : list(map(int, runs.split(','))) for name,runs in batsman_runs}

    return batsman_runs

# csv - list of dicts
def get_student_marks():
    '''
    Given the student rollno, city, age,
    course1_marks, course2_marks and course3_marks
    as comma separated values over multiple lines,
    create a list of dict with the above attributes as keys
    and the corresponding value as values.
    The number of lines is given in the first line

    Input Format:
    n
    1,citya,23,86,69,86
    2,cityb,19,78,65,89
    ...
    n,cityx,35,89,57,76

    Return:
    student_data - list[dict]: where each dict would be

    {'rollno':int, 'city':str,'age':int,
    'course1':int, 'course2':int, 'course3':int}
    '''
    n = int(input())
    student_data = []
    for i in range(n):
        rollno,city,age,course1,course2,course3 = input().split(',')
        rollno = int(rollno)
        age= int(age)
        course3 = int(course3)
        course2 = int(course2)
        course1 = int(course1)
        student_data.append({'rollno':int(f'{rollno}'), 'city':f'{city}', 'age':int(f'{age}'), 'course1':int(f'{course1}'), 'course2':int(f'{course2}'), 'course3':int(f'{course3}')})
    return student_data

# list of dicts
def get_student_data_over_multiple_lines():
    '''
    Given each attribute as described above in given over multiple lines
    and multiple entries are given create a dictionary as described above.

    Input format:
    n
    1
    citya 23 ,86 ,69 ,86
    2
    cityb 19 ,78 ,65 ,89
    ...
    n
    cityx 35,89,57,76
    '''
    n = int(input())
    student_data = []
    for i in range(n):
        rollno = input()
        city = input()
        age = input()
        course1 = input()
        course2 = input()
        course3 = input()
        student_data.append({'rollno':int(f'{rollno}'), 'city':f'{city}', 'age':int(f'{age}'), 'course1':int(f'{course1}'), 'course2':int(f'{course2}'), 'course3':int(f'{course3}')})


    return student_data

# this will read the function name from the input.
func = eval(input())

# this will read the actual output that is required which is the second line
expected_output = eval(input())

# The remaining of the input should be read by your function
actual_output = func()

if expected_output != actual_output:
    print("Your output doesn't match the expected output.")
print(actual_output)



You are given certain details of the trains that stop at a station.

Your task is to store these details in a nested dictionary.

The first line of input is
n, the number of trains that stop at the station.
n blocks of input follow.
The first line in each block corresponds to the train name.
The second line in each block corresponds to
m, the number of compartments in the train.
m lines of input follow.
Each of these m lines has two values separated by a comma: name of the compartment and number of passengers in it.

Your task is to create a nested dictionary named station_dict. The keys of the dictionary are train names, the value corresponding to a key is another dictionary. The keys of the inner dictionary are the compartment names in this train, the values are the number of passengers in each compartment. For example:

{
    'Mumbai Express': {
        'S1': 10,
        'S2': 20,
        'S3': 30
    },
    'Chennai Express': {
        'S1': 10,
        'S2': 20,
        'S3': 30
    }
  }

In [ ]:
station_dict = dict()
n = int(input())
for i in range(n):
    train_name = input()
    m = int(input())
    station_dict[train_name] = {}
    for i in range(m):
        compartment_name,n_pass = input().split(',')
        station_dict[train_name][compartment_name] = n_pass

print(station_dict)

1
Rajdhani Express
5
S1,1
S2,12
S3,10
S4,20
S5,20
{'Rajdhani Express': {'S1': '1', 'S2': '12', 'S3': '10', 'S4': '20', 'S5': '20'}}

In [ ]:
1
Rajdhani Express
5
S1,1
S2,2
S3,10
S4,20
S5,20

ou
{
  "Rajdhani Express": {
    "S1": 1,
    "S2": 2,
    "S3": 10,
    "S4": 20,
    "S5": 20
  }
}

In [ ]:
2
Mumbai Express
2
S1,10
S2,20
Chennai Express
3
S1,5
S2,10
S3,15

ou

{
  "Chennai Express": {
    "S1": 5,
    "S2": 10,
    "S3": 15
  },
  "Mumbai Express": {
    "S1": 10,
    "S2": 20
  }
}

In [ ]:

help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...) unbound builtins.set method
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [ ]:
date = input('Enter the date in YYYYMMDD format:\n')
def digit_life(date):
    if len(str(date)) == 1:
        return int(date)
    return digit_life(str(sum(map(int,date))))
digit_life(date)

Enter the date in YYYYMMDD format:
20000101

4

![image.png]()

In [ ]:

string1 = input('Enter a test string:\n')
string2 = input('Enter a string to check:\n')
flag = True
for i in range(len(string1)):
  if string1[i] not in string2[i:]:
    print('No')
    flag = False
    break
if flag:
  print('Yes')

Enter a test string:
dog
Enter a string to check:
vcxzxduybfdsobywuefgas
Yes

In [ ]:
rows = []
for i in range(9):
    rows.append(input())

Flag = True
for row in rows:
  if len(set(row)) != 9:
    Flag = False
    break

if Flag:
  cols = []
  for i in range(9):
    cols += ''.join(map(lambda row:row[i],rows))
  for col in cols:
    if len(set(col)) != 9:
      Flag = False
      break

if Flag:
  for i in range(len(rows)):
    box1 = ''
    box2 = ''
    box3 = ''
    for row in rows[i:i+3]:
      box1 += row[:3]
      box2 += row[3:6]
      box3 += row[6:]
    if len(set(box1)) != 9 or len(set(box2)) != 9 or len(set(box3)) != 9:
      Flag = False
      break

print('yes there is a solution for this sudoku' if Flag else 'No solution')

295743861
431865927
876192543
387459216
612387495
549216738
763524189
928671354
154938672
No solution

In [ ]:
295743861
431865927
876192543
387459216
612387495
549216738
763524189
928671354
154938672