<a href="https://colab.research.google.com/github/arorakr/machine-learning-research/blob/master/PatternQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pattern Question

## Triangle patterns

```
*
**
***
****
*****
```

In [ ]:
for i in range(1,int(input())+1):
    print('*'*i)

5
*
**
***
****
*****

```
*****
****
***
**
*
```

In [ ]:
for i in range(int(input()),0,-1):
    print('*'*i)

5
*****
****
***
**
*

```
    *
   ***
  *****
 *******
*********
```

In [ ]:
n = int(input())
for i in range(1,n+1):
    print(' '*(n-i)+'*'*(2*i-1))

5
    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)

    *
   **
  ***
 ****
*****

```
*********
 *******
  *****
   ***
    *
```

In [ ]:
n = int(input())
for i in range(n,0,-1):
    print(' '*(n-i)+'*'*(2*i-1))

5
*********
 *******
  *****
   ***
    *

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [ ]:
n = int(input())
for i in range(1,n):
    print(' '*(n-i)+'*'*(2*i-1))
for i in range(n,0,-1):
    print(' '*(n-i)+'*'*(2*i-1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## Number patterns

```
1
12
123
1234
12345
```

In [ ]:
n = 5
for i in range(1,n+1):
    # for j in range(1,i+1):
    #     print(j,end='')
    print(''.join(map(str,range(1,i+1))))

1
12
123
1234
12345

```
    1
   121
  12321
 1234321
123454321
```

In [ ]:
n = 5
for i in range(1,n+1):
    print(' '*(n-i),end='')
    left_string = ''.join(map(str,range(1,i+1))) # printing 1 to ith number
    print(left_string, left_string[::-1][1:], sep='')

    1
   121
  12321
 1234321
123454321

## Alphabet Patterns

```
A
AB
ABC
ABCD
ABCDE
```

In [ ]:
print(ord('A'),chr(65))

65 A

In [ ]:
n = 5
for i in range(1,n+1): # for each line
    # for j in range(65, 65+i): # for each character in line
    #     print(chr(j),end='')
    print(''.join(map(chr, range(65, 65+i))))

A
AB
ABC
ABCD
ABCDE

```
    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA
```

In [ ]:
n = 5
for i in range(1,n+1): # for each line
    print(' '*(n-i),end='')
    left = ''.join(map(chr, range(65, 65+i)))
    print(left, left[::-1][1:], sep='')

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

## Other

```
1
2 3
4 5 6
7 8 9 10
```

In [ ]:
n = 5; count = 1; per_line_chrs = 1
for i in range(1, n+1): # printing every line
    for j in range(1, per_line_chrs): # for every char
        if j % 2 == 0: # if position is even
            print(' ', end='')
        else: # if position is not even then print count
            print(count, end='')
            count += 1
    print(); per_line_chrs+=2 # incrementing to next odd

1
2 3
4 5 6
7 8 9 10

```
* * * *
 * * * *
* * * *
 * * * *
```

In [ ]:
n = 4
for i in range(1, n+1):
    if i % 2 == 0: # even row
        elems = [' ' if x % 2 == 0 else '*' for x in range(n*2)]
    else: # odd row
        elems = ['*' if x % 2 == 0 else ' ' for x in range(n*2)]
    print(''.join(elems))

* * * *
 * * * *
* * * *
 * * * *

```
\ /
 v

\   /
 \ /
  v

\     /
 \   /
  \ /
   v

\       /
 \     /
  \   /
   \ /
    v
```

In [ ]:
n = 7
for line in range(n):
    # print(line+1, n-line-1)
    if line == n-1:
        print(' '*(n-1)+'v')
    else:
        # print(' '*line+'\\'+' '*(n-line-1)*2+'/')
        print(' '*line+'\\'+' '*(((n-line-2)*2)+1)+'/')

\           /
 \         /
  \       /
   \     /
    \   /
     \ /
      v

In [ ]:
with open('file.txt','w') as file:
    file.write('Hello User!\nPython is writing in files :-)')

In [ ]:
with open('file.txt','r') as file:
    print(file.read())
    # print(file.readline(),'hi')

Hello User!
Python is writing in files :-)