<a href="https://colab.research.google.com/github/arorakr/machine-learning-research/blob/master/useful_probs_for_oppe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sales_data = [
    {"name": "John", "sales": 500},
    {"name": "Alice", "sales": 700},
    {"name": "John", "sales": 300},
    {"name": "Alice", "sales": 200},
]

In [ ]:

def get_sales_leaderboard(sales_data: list) -> list:
    """
    Calculate a leaderboard for sales representatives based on total sales.
    Args:
        sales_data(list): A list of dictionaries where each dictionary contains
                           'name' (str) and 'sales' (int).
    Returns:
        list: A sorted leaderboard as a list of tuples in the format (Name, TotalSales),
              sorted by TotalSales in descending order. If two representatives have the same
              sales, sort them alphabetically by name.
    """
    def get_data(sales_data):
        data = {}
        for sale in sales_data:
            if sale['name'] not in data:
                data[sale['name']] =  {'name':sale['name'],'sales':0}
            data[sale['name']]['sales'] += sale['sales']
        return data
    sales = get_data(sales_data)
    sorted_sales = sorted(sales.items(), key=lambda item: (-item[1]['sales'], item[1]['name']))
    return [(name,details['sales']) for name, details in sorted_sales]

get_sales_leaderboard(sales_data)

[('Alice', 900), ('John', 800)]

In [ ]:
assert get_sales_leaderboard(sales_data) == [("Alice", 900), ("John", 800)]
assert get_sales_leaderboard([{"name": "Sam", "sales": 100}]) == [("Sam", 100)]
assert get_sales_leaderboard([]) == []
assert get_sales_leaderboard([{"name": "Anna", "sales": 300}, {"name": "Anna", "sales": 200}]) == [("Anna", 500)]

In [ ]:
n = int(input())
rows = []
for i in range(n):
  row = list(map(int,input().split(',')))
  rows.append(row)
ln = len(rows)
total = 0
for i in range(len(rows)):
    for j in range(len(rows[i])):
        if i == j:
            total += rows[i][j]
        if i + j == ln-1:
            total += rows[i][j]
print(total)

In [ ]:
def bin_search(L,k):
    low  = 0
    high = len(L)-1
    while low<=high:
        mid = (low+high)//2
        if L[mid] < k:
            low = mid + 1
        elif L[mid] > k:
            high = mid - 1
        else:
            return True
print(bin_search([1,2,3,4,5],4))

True

In [ ]:
matches = [
    {"team1": "A", "team2": "B", "score1": 2, "score2": 1},
    {"team1": "B", "team2": "C", "score1": 0, "score2": 0},
    {"team1": "C", "team2": "A", "score1": 1, "score2": 3},
]

In [ ]:
def calculate_tournament_standings(matches: list) -> list:
    """
    Calculate tournament standings based on match results.

    Args:
        matches (list): A list of dictionaries where each dictionary contains:
                        - 'team1' (str): Name of the first team.
                        - 'team2' (str): Name of the second team.
                        - 'score1' (int): Score of the first team.
                        - 'score2' (int): Score of the second team.

    Returns:
        list: A sorted leaderboard as a list of tuples in the format (TeamName, Points, GoalsScored),
              sorted by Points (descending), then GoalsScored (descending).
              Points are awarded as follows:
              - Win: +3 points
              - Draw: +1 point for each team
              - Loss: +0 points
    """
    data = {}
    for match in matches:
        if match['team1'] not in data:
            data[match['team1']] = {'name':match['team1'],'points':0,'goals':0}
        if match['team2'] not in data:
            data[match['team2']] = {'name':match['team2'],'points':0,'goals':0}
        data[match['team1']]['goals'] += match['score1']
        data[match['team2']]['goals'] += match['score2']
        if match['score1'] > match['score2']:
            data[match['team1']]['points'] += 3
        elif match['score1'] < match['score2']:
            data[match['team2']]['points'] += 3
        else:
            data[match['team1']]['points'] += 1
            data[match['team2']]['points'] += 1
        return data




calculate_tournament_standings(matches)

{'A': {'name': 'A', 'points': 3, 'goals': 2},
 'B': {'name': 'B', 'points': 0, 'goals': 1}}

In [ ]:
assert calculate_tournament_standings(matches) == [("A", 6, 5), ("C", 1, 1), ("B", 1, 1)]
assert calculate_tournament_standings([]) == []
assert calculate_tournament_standings([{"team1": "X", "team2": "Y", "score1": 0, "score2": 0}]) == [("X", 1, 0), ("Y", 1, 0)]
assert calculate_tournament_standings([{"team1": "P", "team2": "Q", "score1": 3, "score2": 0}]) == [("P", 3, 3), ("Q", 0, 0)]

In [ ]:
ratings = [
    {"movie": "Inception", "rating": 4.5},
    {"movie": "Interstellar", "rating": 4.7},
    {"movie": "Inception", "rating": 4.8},
]

In [ ]:
def filter_primes(numbers: list[int]) -> list[int]:
  '''Given a list of integers, returns a list with only prime numbers.

  Args:
    nums: list[int] - the input list of integers

  Returns:
    list[int] - sorted list containing only prime numbers from the input list
  '''
  def is_prime(num):
      if num == 1:
          return False
      for i in range(2,num):
          if num % i == 0:
              return False
      return True
  res = []
  for elem in numbers:
      if is_prime(elem):
          res.append(elem)
  return sorted(res)


filter_primes([1, 2, 3, 4, 5])

In [ ]:


def unique_palindromic_substrings(word: str) -> list[str]:
  '''
  Find all unique palindromic substrings in the given string.

  Args:
      word (str): A lowercase string.

  Return:
      list[str] : A list of unique palindromic substring sorted in ascending order.
  '''
  substrings = []
  for i in range(len(word)):
      for j in range(i+1,len(word)):
          substrings.append(word[i:j+1])
  substrings.extend(list(word))
  res = []
  for string in substrings:
      if string[:] == string[::-1]:
          res.append(string)
  return res

In [ ]:
n = int(input())
r = int(input())

def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)

combinations = factorial(n)//(factorial(r)*factorial(n-r))
permutations = factorial(n)//factorial(n-r)

In [ ]:

# success
def unique_palindromic_substrings(word: str) -> list[str]:
  '''
  Find all unique palindromic substrings in the given string.

  Args:
      word (str): A lowercase string.

  Return:
      list[str] : A list of unique palindromic substring sorted in ascending order.
  '''
  uni_pal_substrings = []
  for i in range(len(word)):
      for j in range(i,len(word)):
          if word[i:j+1][:] == word[i:j+1][::-1]:
              if word[i:j+1] not in uni_pal_substrings:
                uni_pal_substrings.append(word[i:j+1])
  return uni_pal_substrings

unique_palindromic_substrings('abba')

In [ ]:
def get_movie_leaderboard(ratings: list) -> list:
    """
    Calculate a leaderboard for movies based on average ratings.

    Args:
        ratings (list): A list of dictionaries where each dictionary contains:
                        - 'movie' (str): Name of the movie.
                        - 'rating' (float): Rating given to the movie.

    Returns:
        list: A sorted leaderboard as a list of tuples in the format (MovieName, AverageRating),
              sorted by AverageRating in descending order. If two movies have the same rating,
              sort them alphabetically by name.
    """
    data = {}

In [ ]:
assert get_movie_leaderboard(ratings) == [("Inception", 4.65), ("Interstellar", 4.7)]
assert get_movie_leaderboard([]) == []
assert get_movie_leaderboard([{"movie": "Titanic", "rating": 4.9}]) == [("Titanic", 4.9)]
assert get_movie_leaderboard([
    {"movie": "A Quiet Place", "rating": 4.2},
    {"movie": "A Quiet Place Part II", "rating": 4.3}
]) == [("A Quiet Place Part II", 4.3), ("A Quiet Place", 4.2)]

Write a function named get_column that accepts a matrix named mat and a non-negative integer named col as arguments. It should return the column that is at index col in the matrix mat as a list. Zero-based indexing is used here.

In [ ]:
def get_column(mat,col):
   return list(map(lambda row : row[col],mat))

get_column([[88, 57, 22, 52], [43, 74, 43, 91], [43, 70, 81, 9]],2)

[22, 43, 81]

(2) Write a function named get_row that accepts a matrix named mat and a non-negative integer named row as arguments. It should return the row that is at index row in the matrix mat as a list. Zero-based indexing is used here.

In [ ]:
def get_row(mat,row):
    return mat[row]

In [ ]:
get_row([[88, 57, 22, 52], [43, 74, 43, 91], [43, 70, 81, 9]],2)

[43, 70, 81, 9]

In [ ]:
employee_data = [{"name": "Alice", "department": "HR", "salary": 50000}, {"name": "Bob", "department": "HR", "salary": 60000}, {"name": "Charlie", "department": "Engineering", "salary": 80000}, {"name": "David", "department": "Engineering", "salary": 90000}, {"name": "Eve", "department": "Marketing", "salary": 70000}]
is_equal(highest_paid_departments(employee_data, 2), [('Engineering', 85000), ('Marketing', 70000)])

In [ ]:
def highest_paid_departments(employee_data: list, k: int) -> list:
  '''
  Given a list of dictionaries with employee's name, department and salary
  Create a list with top k departments in terms of average salary
  starting from highest to lowest.

  Assume no to departments have same average salary.

  Arguments:
  	employee_data : list[dict]
    k - int

  Return:
  	list of tuples - top k departments with their avg. salary in form (dept: str, avg_salary: int)
  '''

  top_k_depts = []
  depts = {}
  dept_counts = {}
  dept_avgs = {}
  for employee in employee_data:
      if employee['department'] not in depts:
          depts[employee['department']]=employee['salary']
          dept_counts[employee['department']] = 1
      else:
          depts[employee['department']] += employee['salary']
          dept_counts[employee['department']] += 1
  for employee in employee_data:
      if employee['department'] not in dept_avgs:
          dept_avgs[employee['department']]=0
  for employee in employee_data:
      dept_avgs[employee['department']]= depts[employee['department']]//dept_counts[employee['department']]
  return sorted([(dep,avg_sal) for dep,avg_sal in dept_avgs.items()],key = lambda x:-x[1])[:k]

In [ ]:
https://livinnector.github.io/live-py-tutor/#code=%0A%23Name%20a%20function%20highest_paid_departments,%20that%20accepts%20two%20arguments%3B%20employee_data%20and%20k.%0Aempdata%20%3D%20%5B%7B%22name%22%3A%20%22Alice%22,%20%22department%22%3A%20%22HR%22,%20%22salary%22%3A%2050000%7D,%20%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22Bob%22,%20%22department%22%3A%20%22HR%22,%20%22salary%22%3A%2060000%7D,%20%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22Charlie%22,%20%22department%22%3A%20%22Engineering%22,%20%22salary%22%3A%2080000%7D,%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22David%22,%20%22department%22%3A%20%22Engineering%22,%20%22salary%22%3A%2090000%7D,%20%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22Eve%22,%20%22department%22%3A%20%22Marketing%22,%20%22salary%22%3A%2070000%7D%5D%0A%23%20is_equal%28highest_paid_departments%28employee_data,%202%29,%20%5B%28'Engineering',%2085000%29,%20%28'Marketing',%2070000%29%5D%29%0A%0A%0Adef%20highest_paid_departments%28employee_data%3A%20list,%20k%3A%20int%29%20-%3E%20list%3A%0A%20%20'''%0A%20%20Given%20a%20list%20of%20dictionaries%20with%20employee's%20name,%20department%20and%20salary%0A%20%20Create%20a%20list%20with%20top%20k%20departments%20in%20terms%20of%20average%20salary%0A%20%20starting%20from%20highest%20to%20lowest.%0A%20%20%0A%20%20Assume%20no%20to%20departments%20have%20same%20average%20salary.%20%0A%20%20%0A%20%20Arguments%3A%20%0A%20%20%20%20employee_data%20%3A%20list%5Bdict%5D%0A%20%20%20%20k%20-%20int%0A%20%20%0A%20%20Return%3A%20%0A%20%20%20%20%20%20list%20of%20tuples%20-%20top%20k%20departments%20with%20their%20avg.%20salary%20in%20form%20%28dept%3A%20str,%20avg_salary%3A%20int%29%0A%20%20'''%0A%20%20top_k_depts%20%3D%20%5B%5D%0A%20%20depts%20%3D%20%7B%7D%0A%20%20dept_counts%20%3D%20%7B%7D%0A%20%20dept_avgs%20%3D%20%7B%7D%0A%20%20for%20employee%20in%20employee_data%3A%0A%20%20%20%20%20%20if%20employee%5B'department'%5D%20not%20in%20depts%3A%0A%20%20%20%20%20%20%20%20%20%20depts%5Bemployee%5B'department'%5D%5D%3Demployee%5B'salary'%5D%0A%20%20%20%20%20%20%20%20%20%20dept_counts%5Bemployee%5B'department'%5D%5D%20%3D%201%0A%20%20%20%20%20%20else%3A%0A%20%20%20%20%20%20%20%20%20%20depts%5Bemployee%5B'department'%5D%5D%20%2B%3D%20employee%5B'salary'%5D%0A%20%20%20%20%20%20%20%20%20%20dept_counts%5Bemployee%5B'department'%5D%5D%20%2B%3D%201%0A%20%20for%20employee%20in%20employee_data%3A%0A%20%20%20%20%20%20if%20employee%5B'department'%5D%20not%20in%20dept_avgs%3A%0A%20%20%20%20%20%20%20%20%20%20dept_avgs%5Bemployee%5B'department'%5D%5D%3D0%0A%20%20for%20employee%20in%20employee_data%3A%0A%20%20%20%20%20%20dept_avgs%5Bemployee%5B'department'%5D%5D%3D%20depts%5Bemployee%5B'department'%5D%5D//dept_counts%5Bemployee%5B'department'%5D%5D%0A%20%20return%20sorted%28%5B%28dep,avg_sal%29%20for%20dep,avg_sal%20in%20dept_avgs.items%28%29%5D,key%20%3D%20lambda%20x%3A-x%5B1%5D%29%5B%3Ak%5D%0Ahighest_paid_departments%28empdata,2%29%20%20%20%20%20%20%20%20%20%20%0A%0A%20%20%20%20%20%20%0A%20%20%20%20%20%20%0A%20%20%0A%20%20&cumulative=true&curInstr=76&heapPrimitives=false&mode=edit&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=falsehttps://livinnector.github.io/live-py-tutor/#code=%0A%23Name%20a%20function%20highest_paid_departments,%20that%20accepts%20two%20arguments%3B%20employee_data%20and%20k.%0Aempdata%20%3D%20%5B%7B%22name%22%3A%20%22Alice%22,%20%22department%22%3A%20%22HR%22,%20%22salary%22%3A%2050000%7D,%20%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22Bob%22,%20%22department%22%3A%20%22HR%22,%20%22salary%22%3A%2060000%7D,%20%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22Charlie%22,%20%22department%22%3A%20%22Engineering%22,%20%22salary%22%3A%2080000%7D,%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22David%22,%20%22department%22%3A%20%22Engineering%22,%20%22salary%22%3A%2090000%7D,%20%0A%20%20%20%20%20%20%20%20%20%20%7B%22name%22%3A%20%22Eve%22,%20%22department%22%3A%20%22Marketing%22,%20%22salary%22%3A%2070000%7D%5D%0A%23%20is_equal%28highest_paid_departments%28employee_data,%202%29,%20%5B%28'Engineering',%2085000%29,%20%28'Marketing',%2070000%29%5D%29%0A%0A%0Adef%20highest_paid_departments%28employee_data%3A%20list,%20k%3A%20int%29%20-%3E%20list%3A%0A%20%20'''%0A%20%20Given%20a%20list%20of%20dictionaries%20with%20employee's%20name,%20department%20and%20salary%0A%20%20Create%20a%20list%20with%20top%20k%20departments%20in%20terms%20of%20average%20salary%0A%20%20starting%20from%20highest%20to%20lowest.%0A%20%20%0A%20%20Assume%20no%20to%20departments%20have%20same%20average%20salary.%20%0A%20%20%0A%20%20Arguments%3A%20%0A%20%20%20%20employee_data%20%3A%20list%5Bdict%5D%0A%20%20%20%20k%20-%20int%0A%20%20%0A%20%20Return%3A%20%0A%20%20%20%20%20%20list%20of%20tuples%20-%20top%20k%20departments%20with%20their%20avg.%20salary%20in%20form%20%28dept%3A%20str,%20avg_salary%3A%20int%29%0A%20%20'''%0A%20%20top_k_depts%20%3D%20%5B%5D%0A%20%20depts%20%3D%20%7B%7D%0A%20%20dept_counts%20%3D%20%7B%7D%0A%20%20dept_avgs%20%3D%20%7B%7D%0A%20%20for%20employee%20in%20employee_data%3A%0A%20%20%20%20%20%20if%20employee%5B'department'%5D%20not%20in%20depts%3A%0A%20%20%20%20%20%20%20%20%20%20depts%5Bemployee%5B'department'%5D%5D%3Demployee%5B'salary'%5D%0A%20%20%20%20%20%20%20%20%20%20dept_counts%5Bemployee%5B'department'%5D%5D%20%3D%201%0A%20%20%20%20%20%20else%3A%0A%20%20%20%20%20%20%20%20%20%20depts%5Bemployee%5B'department'%5D%5D%20%2B%3D%20employee%5B'salary'%5D%0A%20%20%20%20%20%20%20%20%20%20dept_counts%5Bemployee%5B'department'%5D%5D%20%2B%3D%201%0A%20%20for%20employee%20in%20employee_data%3A%0A%20%20%20%20%20%20if%20employee%5B'department'%5D%20not%20in%20dept_avgs%3A%0A%20%20%20%20%20%20%20%20%20%20dept_avgs%5Bemployee%5B'department'%5D%5D%3D0%0A%20%20for%20employee%20in%20employee_data%3A%0A%20%20%20%20%20%20dept_avgs%5Bemployee%5B'department'%5D%5D%3D%20depts%5Bemployee%5B'department'%5D%5D//dept_counts%5Bemployee%5B'department'%5D%5D%0A%20%20return%20sorted%28%5B%28dep,avg_sal%29%20for%20dep,avg_sal%20in%20dept_avgs.items%28%29%5D,key%20%3D%20lambda%20x%3A-x%5B1%5D%29%5B%3Ak%5D%0Ahighest_paid_departments%28empdata,2%29%20%20%20%20%20%20%20%20%20%20%0A%0A%20%20%20%20%20%20%0A%20%20%20%20%20%20%0A%20%20%0A%20%20&cumulative=true&curInstr=76&heapPrimitives=false&mode=edit&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false

Write a function insert that accepts a sorted list L of integers and an integer x as input. The function should return a sorted list with the element x inserted at the right place in the input list. The original list should not be disturbed in the process.

In [ ]:

def insert(L,x):
    for i in range(len(L)-1):
        if L[i] < x and x < L[i+1]:
            return L[:i+1] + [x] + L[i+1:]

In [ ]:
sorted([88, 57, 22, 52,43, 74, 43, 91,43, 70, 81, 9])

[9, 22, 43, 43, 43, 52, 57, 70, 74, 81, 88, 91]

In [ ]:
insert([9, 22, 43, 43, 43, 52, 57, 70, 74, 81, 88, 91],85)

[9, 22, 43, 43, 43, 52, 57, 70, 74, 81, 85, 88, 91]


(1) factors: accept a positive integer
n
n as argument. Return the set of all factors of
n

In [ ]:

def factors(n):
    facts = set()
    for i in range(1,n+1):
        if n % i == 0:
            facts.add(i)
    return facts

factors(12)

{1, 2, 3, 4, 6, 12}

common_factors: accept two positive integers a and b as arguments.
Return the set of common factors of the two numbers. This function must make use of factors.

In [ ]:
def common_factors(a,b):
    comm_facts = set()
    for i in range(1,a+1):
        for j in range(1,b+1):
            if a % i == 0 and b % j == 0 and i == j:
                comm_facts.add(i)
    return comm_facts

common_factors(12,92)

{1, 2, 4}

 factors_upto: accept a positive integer
n
n as argument. Return a dict D, whose keys are integers and values are sets. Each integer in the range

In [ ]:
def factors_upto(n):
    factdict = {}
    for i in range(1,n+1):
        factdict[i] = factors(i)
    return factdict

In [ ]:
factors_upto(12)

{1: {1},
 2: {1, 2},
 3: {1, 3},
 4: {1, 2, 4},
 5: {1, 5},
 6: {1, 2, 3, 6},
 7: {1, 7},
 8: {1, 2, 4, 8},
 9: {1, 3, 9},
 10: {1, 2, 5, 10},
 11: {1, 11},
 12: {1, 2, 3, 4, 6, 12}}

In [ ]:
def common_factors(a, b):
    """
    Finds the common factors of two numbers.

    Args:
        a: The first number.
        b: The second number.

    Returns:
        A set of common factors.
    """

    # Get the factors of both numbers.
    factors_a = set(i for i in range(1, a + 1) if a % i == 0)
    factors_b = set(i for i in range(1, b + 1) if b % i == 0)

    # Find the intersection (common factors) of the two sets.
    common_factors = factors_a.intersection(factors_b)

    return common_factors

# Example usage
a = 12
b = 92
result = common_factors(a, b)
print(f"The common factors of {a} and {b} are: {result}")

The common factors of 12 and 92 are: {1, 2, 4}

In [ ]:
def findPeakutil(L, low, high):
    """
    Finds a peak element in a list using binary search.

    Args:
        L (list): The input list of integers.
        low (int): The lower bound of the search range.
        high (int): The upper bound of the search range.

    Returns:
        int: A peak element in the list. Returns None if no peak is found (shouldn't happen for a non-empty list).
    """
    n = len(L)
    while low <= high:
        mid = low + (high - low) // 2

        # Check if mid is a peak
        if (mid == 0 or L[mid] >= L[mid - 1]) and (mid == n - 1 or L[mid] >= L[mid + 1]):
            return L[mid]
        # If left neighbor is greater, search in the left half
        elif mid > 0 and L[mid - 1] > L[mid]:
            high = mid - 1
        # If right neighbor is greater, search in the right half
        else:
            low = mid + 1
    return None # Should not reach here for a non-empty list

def Findpeak(L):
    """
    Finds a peak element in a list by calling the utility function.
    Args:
        L (list): The input list of integers.
    Returns:
        int: A peak element in the list. Returns None if the list is empty.
    """
    if not L:
        return None
    return findPeakutil(L, 0, len(L) - 1)

Here are some test cases for the `Findpeak` function.

In [ ]:
# Test cases
print(Findpeak([1, 2, 3, 4, 5]))
print(Findpeak([5, 4, 3, 2, 1]))
print(Findpeak([1, 3, 2, 4, 5]))
print(Findpeak([1, 2, 3, 2, 1]))
print(Findpeak([1]))
print(Findpeak([]))